[2015-12-03 22:50] hamin commented on #1
Nope. merging :)

[2015-12-03 22:57] hamin opened #3 "Add gpg signature verification"
@OliverLetterer @swizzlr I think both of you had this in your versions. Either one of you wanna pick this up?

[2015-12-03 23:06] swizzlr opened #6 "[RFC] Construct swift versions using environment variables"
Less duplication, it seems. cf. https://github.com/OliverLetterer/swift-docker/blob/master/Dockerfile

[2015-12-03 23:07] swizzlr opened #7 "[RFC] Untar directly into root"
We can untar directly into the root of the filesystem, so no path modification nor rsync. I think it's slightly more elegant.

https://github.com/swizzlr/docker-swift/blob/master/Dockerfile#L9

[2015-12-03 23:07] swizzlr commented on #4
LGTM!

[2015-12-03 23:08] swizzlr commented on #4
(And thanks for contributing!)

[2015-12-03 23:13] #3 closed, assigned to nobody

[2015-12-03 23:16] hamin commented on #6
this makes perfect sense @OliverLetterer you wanna do this? If not i can submit PR

[2015-12-03 23:17] hamin commented on #7
@swizzlr I guess i'm worried that files folders that exist in /usr don't get overwritten and that we're merely merging the swift related stuff in /usr

[2015-12-03 23:24] swizzlr commented on #7
Well, if swift vendors a patched version of anything, we want that in the path, at the very least. With rsync Swift may end up linking to the unpatched version, right? Shall we give it a try and see how it turns out, or should we just dump it all in a private folder and add it to the $PATH?

[2015-12-03 23:24] swizzlr commented on #7
(i'm more in favour of installing to root because then you can easily write /usr/bin/swift) etc.

[2015-12-03 23:29] swizzlr opened #9 "Update documentation to clarify REPL usage and security implications"
## Overview

Swift REPL requires LLDB. LLDB requires some elevated privileges.

## Objectives

- [ ] Clearly define the elevated privileges required by LLDB's REPL
- [ ] Provide clear and simple documentation in the README on how to access the REPL, including an explanation of the rationale required
- [ ] Provide alternative examples of using the docker image that don't involve the REPL/elevated p

[2015-12-03 23:32] hamin commented on #9
The real was definitely working for me, but I was installing all the deps that apple was suggesting. Should we put those deps back for completeness sake? We might be breaking other parts of the toolchain without knowing it but not having deps apple details in their docs. Perhaps revert that commit and see what happens?

[2015-12-03 23:34] swizzlr commented on #9
@hamin When they say "development dependencies" I assume they mean for building the swift toolchain itself. (right, @jckarter)? I'll work backwards from the list of dependencies and find which libraries are necessary; then I'll open a PR to the swift repo updating their docs.

[2015-12-03 23:40] hamin commented on #9
@swizzlr yeah what you're saying makes sense, checking it out

[2015-12-03 23:49] hamin opened #10 "[BUG] master is still broken, broken GPG"
Running latest master is still broken @swizzlr

[code]

[2015-12-03 23:52] swizzlr commented on #10
Well that's just crap.

[2015-12-03 23:55] swizzlr commented on #10
`RUN gpg --verify swift-2.2-SNAPSHOT-2015-12-01-b-ubuntu14.04.tar.gz`
should read
`RUN gpg --verify swift-2.2-SNAPSHOT-2015-12-01-b-ubuntu14.04.tar.gz.sig`

If you could patch that that would be great, I'm working on this REPL thing right now.

[2015-12-03 23:57] swizzlr commented on #9
@hamin just tried "reverting" those changes and no dice. are you sure it worked for you, back then? maybe it's flaky?

[2015-12-03 23:58] hamin commented on #10
@swizzlr on it

[2015-12-03 23:59] swizzlr commented on #10
@hamin nvm, just fixed it

[2015-12-03 23:59] #10 closed, assigned to hamin

[2015-12-04 00:00] swizzlr commented on #10
https://github.com/swiftdocker/docker-swift/commit/d025eb3bc9456e77346842815a03380384be0238

[2015-12-04 00:00] hamin commented on #10
awesome

[2015-12-04 00:00] swizzlr commented on #10
I've gotta turn in for the night, so when that build goes out let's tag it 0.0.1, "release" it and carry on tomorrow.

[2015-12-04 00:02] hamin commented on #7
@swizzlr ok lets do this. You have me convinced :)

[2015-12-04 00:03] hamin commented on #7
@swizzlr i'll submit PR

[2015-12-04 00:05] swizzlr commented on #7
go 4 it

[2015-12-04 00:07] hamin commented on #9
So its working for me right now. I'm running latest master:

![screen shot 2015-12-03 at 7 06 51 pm](https://cloud.githubusercontent.com/assets/28212/11578183/13091f66-99f1-11e5-98f4-fdc24e76e96f.png)

[2015-12-04 00:07] hamin commented on #9
@swizzlr its working for me. I'm running latest master

[2015-12-04 00:09] hamin commented on #9
@swizzlr what were you trying to run exactly?

[2015-12-04 00:10] hamin commented on #9
@swizzlr argh sorry its not running for me...i was running my old docker image...gimme a few

[2015-12-04 00:11] hamin commented on #9
@swizzlr confirmed this master is not working for me...the above screenshot was from my original repo. It definitely worked

[2015-12-04 00:12] swizzlr commented on #9
Does this commit work 369c495ac18df95d9cf48df22a71df299446cd2c ?

[2015-12-04 00:15] hamin commented on #9
@swizzlr checking it out. Meanwhile do a docker pull from here https://hub.docker.com/r/harisamin/docker-swift/

`docker pull harisamin/docker-swift`

Try that and see if it works there

[2015-12-04 00:19] swizzlr commented on #9
Nope, not working on this (digital ocean VM hooked up with docker-machine).

[code]

[2015-12-04 00:19] swizzlr commented on #9
`error: failed to launch REPL process: process launch failed: 'A' packet returned an error: 8`

[2015-12-04 00:20] hamin commented on #9
wtf how is it working for me then from my original image. you're just typing `swift` right? I know there's a `swift_repl` not sure what exactly that one does

[2015-12-04 00:22] swizzlr commented on #9
We need a third person to try this out to figure out which of our machines is wrong. The image ID is `c9f6b5fece4f`, what's yours?

[2015-12-04 00:26] hamin commented on #9
The one I pushed to Docker Hub earlier today was this: harisamin/docker-swift   latest              48660452cc49

![screen shot 2015-12-03 at 7 25 46 pm](https://cloud.githubusercontent.com/assets/28212/11578451/b118d866-99f3-11e5-88b1-170fc26b6fb1.png)

[2015-12-04 00:29] hamin commented on #9
Again from original one I had.

![screen shot 2015-12-03 at 7 28 35 pm](https://cloud.githubusercontent.com/assets/28212/11578490/1bb83e3c-99f4-11e5-80c0-30529027b6f4.png)

[2015-12-04 00:37] hamin commented on #9
@swizzlr master on our repo:

[code]

Checking if there's a new tar, maybe apple removed the old one

[2015-12-04 00:40] hamin commented on #9
@swizzlr lol the link is dead: https://swift.org/builds/ubuntu1404/swift-2.2-SNAPSHOT-2015-12-01-b/swift-2.2-SNAPSHOT-2015-12-01-b-ubuntu14.04.tar.gz

Got it from here: https://swift.org/download/

[2015-12-04 02:23] akatz commented on #7
Also while your doing that, if you combine the commands into one via `&&` and then follow them with `&& rm -rf ...` you don't have a bloated intermediate layer. The cleanup here is nice, but since it happens in a layer further down it's a little bit too little too late.

[2015-12-04 02:33] sosedoff opened #12 "Online demo"
Hey, thanks for putting together this docker image for swift!
I just added it to BitRun, a small project for coding sandboxes that im running. Works great.
Try it yourself - https://bit.run/try/swift

[2015-12-04 03:10] huytd opened #13 "Why not latest ubuntu version?"
Why not using latest ubuntu version? It's 15.10 already

[2015-12-04 06:48] lxcid commented on #9
On my own docker implementation I had user reporting the same issue. Funny thing is it work for my docker on VM.

[2015-12-04 08:04] OliverLetterer commented on #6
Sorry for bailing out yesterday without notice, had to really get some sleep. Would have loved to submit a pull request for this but I see there is already #11 :)

[2015-12-04 13:12] lexrus commented on #13
It's configurable via ENV after #11 merged.

[2015-12-04 13:58] swizzlr commented on #9
@lxcid That's fascinating! Do you think you could find out what the implementations are?

Maybe this is a TTY thing?

---

I was interested in creating a `latest` image that would provide the most recent version built from source. Perhaps if we try building from scratch inside the container we might unearth the dependencies that are not present?

[2015-12-04 15:24] swizzlr commented on #13
@huytd Phusion base image is based on Ubuntu LTS, which is usually considered a sensible choice. We want to control for the one moving target, i.e. swift, and it would suck to have to maintain it if Ubuntu broke for whatever reason.

@lexrus I assume he's talking about the FROM statement. I have my reservations about the phusion base image, but tbh we can change it before we hit 1.0 and call it of

[2015-12-04 15:48] swizzlr commented on #6
Closed by #14

[2015-12-04 15:48] #6 closed, assigned to nobody

[2015-12-04 15:57] lxcid commented on #9
I'm trying to build from source at the moment though. Its painfully slow, maybe its because I'm building a release build.

Use the following python (2.7) script https://github.com/apple/swift/blob/master/utils/build-script

I'm not sure if I can wait until it complete but I'll keep you updated on my finding.

[2015-12-04 15:58] hamin commented on #12
@sosedoff awesome! Good to know its working for you :). @sosedoff I'm gonna close this issue unless there's something else you'd like to add?

[2015-12-04 15:58] #12 closed, assigned to nobody

[2015-12-04 16:00] hamin commented on #12
@swizzlr It might be cool to have our own online version running swift. Bitten looks great. @sosedoff how would you feel like about contributing an online Swift only demo that we can host in this Github Org? Totally fine if you're not up for it :)

[2015-12-04 16:27] hamin commented on #7
@akatz checkout #14 which reduces layers count. Its been merged into master already. Feel free to open a new issue to suggest more cleanup :). Also nice to see you here buddy :)

[2015-12-04 16:30] lxcid commented on #9
[code]

This is the output of the release build.

I'm doing another debug build at the moment.

[2015-12-04 16:56] #7 closed, assigned to nobody

[2015-12-04 16:57] hamin commented on #9
@lxcid do u mind trying the latest master? I've tested the current master on my local docker instances and am able to launch the repl without issue. Let us know :)

[2015-12-04 18:03] lxcid commented on #9
I just tried the latest master fb7ff42fc3039141342b7020a3626e7ba20db50a but it still have the same error in Digital Ocean docker.

I suspect it is the binary that have issue.

[2015-12-04 18:32] swizzlr commented on #9
@hamin you running it on your MB in boot2docker?

[2015-12-04 18:53] hamin commented on #9
I installed docker via their official mac DMG.

`sh --login '/Applications/Docker/Docker Quickstart Terminal.app/Contents/Resources/Scripts/start.sh'`

That's how i start it its funny because looking at #12 seems like @sosedoff was able to deploy our image and it seems to be running.

[2015-12-04 19:03] mickeyreiss opened #1 "Missing libpython2.7.so.1.0"
[code]

It looks like this dockerfile currently fails to run the top-level swift binary. (`swift build` works for me as expected.)

I intend to submit a PR momentarily that adds `apt-get install libpython2.7` to the `Dockerfile`s.

Looks like that will fix things up:

[code]

(BTW - You beat me to this project by ~hours :smile_cat:!)

[2015-12-04 19:03] sosedoff commented on #9
Im running swift docker image: swiftdocker/swift:836d5b4ca56e and it works fine on both linux and osx machines. Locally (on osx) im using docker-machine and can run REPL with this command:

[code]

[2015-12-04 19:06] joein3d commented on #1
Yup, definitely an oversight - I was only using `docker build`. I'd be happy to take the pull request

[2015-12-04 19:15] #1 closed

[2015-12-05 00:12] swizzlr commented on #9
I'm laboriously downloading the entire thing to my local machine now, but I think we might be able to isolate this to digitalocean. Curious, but not worth leaving in the open without more reports.

[2015-12-05 00:22] swizzlr commented on #9
I can confirm it works locally!

This is so weird.

[2015-12-05 02:17] sosedoff commented on #12
@hamin i dont really want to create another web ui since i already work on bit.run, but you could hack on something very simple using bit.run's API, its open source - https://github.com/bitrun/api. Here's an example curl request to run swift code:

[code]

You'll get something like this:

[code]

[2015-12-05 03:07] ghost commented on #9
Works locally on OS X. Failed on EC2.

https://hub.docker.com/r/swiftdocker/swift/
https://hub.docker.com/r/ontouchstart/docker-swift-snapshot/ (my own docker image)

# Local OS X docker machine

![screen shot 2015-12-04 at 10 06 25 pm](https://cloud.githubusercontent.com/assets/951921/11605643/550f09f6-9ad3-11e5-8517-4dffe3a4fcb8.png)

![screen shot 2015-12-04 at 10 02 24 pm](https://cloud.github

[2015-12-05 10:59] CorcovadoMing commented on #9
I have this issue too (on clean install ubuntu 14.04 VM),
But I found that if I add the `--privileged` to docker command, it works
otherwise I got `error: failed to launch REPL process: process launch failed: 'A' packet returned an error: 8`

[2015-12-05 13:28] lxcid commented on #9
@CorcovadoMing awesome find! I can confirm that `--privileged=true` fixed it. I still like to know whats wrong though. I going to do some more investigation.

[2015-12-06 05:45] hamin commented on #9
@CorcovadoMing Awesome find! Would be great to know what's causing this. If its something we can fix in our docker configuration I'm game :). @CorcovadoMing @lxcid feel free to submit PR :)

[2015-12-07 16:16] swizzlr commented on #9
It seems that we may need to fix swift, it may be attempting to access hardware that it isn't allowed to find.

[2015-12-07 16:58] CorcovadoMing commented on #9
As you can see, there is no problem with interpreted the swift file without lldb via `swift *.swift` and also compiled with `swiftc` command in docker without `--privileged=true`

lldb seems to need to access the bottom layer to provide the runtime information

is it possible that we manually disable the lldb debugger to run swift repl?
for now, I think the whole swift repl is built on top of lldb

[2015-12-08 11:19] swizzlr commented on #9
You can't run interactive swift without lldb, I've tried. Seems we need to figure out what lldb needs at the machine level.

[2015-12-08 21:30] ghost commented on #9
`--privileged` worked for me

[code]

![screen shot 2015-12-08 at 4 29 31 pm](https://cloud.githubusercontent.com/assets/951921/11669109/ec979b60-9dc8-11e5-9f17-bf8aa21c8385.png)

[2015-12-10 19:06] Hades32 opened #4 "Image should include everything that is needed to build"
I like to use docker as by build tool, so I don't have to install anything. It also makes it super easy for other people to build your stuff.

Also, I'm NOT a fan of building inside the same container, that you will ship. Build tools are just too large and are a potential surface.

e.g. my current build file now looks like this:
[code]
This will unfortunately fail typically, because Git is needed

[2015-12-10 19:12] joein3d commented on #4
Makes sense- I was installing git on top of this image but it should be included since Swift's package manager uses it.

[2015-12-10 19:16] #4 closed

[2015-12-14 13:25] chriseidhof opened #17 "libxml2.so error"
I tried to get this to run:

[code]

Then if I run `swift`, I get the following error:

[code]

Is this a known error? If not, I'll try to find the cause.

[2015-12-14 13:39] chriseidhof commented on #17
This could very well be a duplicate of issue #9 , in that case, feel free to close.

[2015-12-15 20:07] swizzlr commented on #17
This could be. Try compiling a program and see if that works; if so, it's a dupe of #9, if not, this is new.

The workaround is to use:

[code]

[2015-12-15 20:11] hamin commented on #17
@chriseidhof yeah try what @swizzlr just suggested. We're still not quite sure what's causing this.

[2015-12-17 01:41] swizzlr commented on #17
@chriseidhof You were right, we needed libxml2 (also for Foundation). It's been resolved in master, could you try pulling again and seeing if it's improved?

[2015-12-17 09:20] chriseidhof commented on #17
Sorry, I was going to test the suggestion, but you guys are fast ;). Just tried the latest version in master, and it worked flawlessly.

Thanks for solving this, and thanks even more for doing this project :heart: .

[2015-12-17 16:33] hamin commented on #17
@chriseidhof awesome :) @swizzlr :+1:

[2015-12-17 16:33] #17 closed, assigned to nobody

[2015-12-18 18:58] swizzlr commented on #17
Excellent, glad to hear it!

[2015-12-18 19:23] swizzlr commented on #9
I'd suggest we document this in the README, since we don't have any power over this right now, then close this issue.

[2015-12-19 19:27] 13rac1 commented on #9
If anyone else is looking, this issue is already listed on the swift bug tracker: https://bugs.swift.org/browse/SR-54

[2016-06-05 04:57] hamin commented on #9
Fixed by #24

[2016-06-10 22:51] aduermael commented on #9
@hamin @gabhi You can use `--security-opt seccomp=unconfined` instead to disable seccomp. It's a little more secure. :)

[code]

[2016-06-18 22:00] mikeknep opened #28 "Unicode in REPL"
I'm unable to type or paste from clipboard Unicode characters like £ (via `option 3` on OSX) or ≈ (`option x`) inside the Swift 3 repl running in Docker. I noticed that by default I can't type these characters into a bash shell inside this container at all unless adding the environment variable `-e "LANG=C.UTF-8"`, which [apparently](http://stackoverflow.com/questions/25637292/cannot-type-unicode-

[2016-06-22 21:40] hamin commented on #28
@mikeknep not sure what the exact issue is, but I'll try to replicate it this weekend and take a look at it. If you figure it out feel free to update the issue or submit a PR :)

[2016-07-27 11:22] jcampbell05 opened #29 "Is this the latest version ?"

[2016-07-27 15:35] #29 closed, assigned to nobody

[2016-07-27 15:38] hamin commented on #29
@jcampbell05 thanks just updated. Docker hub tags are being updated as we speak https://hub.docker.com/r/swiftdocker/swift/builds/

[2016-09-01 04:58] ddunbar opened #30 "swift-build doesn't work in container anymore"
It looks like you can't use the package manager inside the swift docker container anymore, because the lib curl dependency isn't present:

[code]

[2016-09-01 10:14] hamin commented on #30
@ddunbar that's interesting, is that a recent change in swift build? I thought we were installing al the dependencies already. If you could submit a PR that would be great. I am volunteering at the Try Swift NYC conference today and Tommorrow so won't be able to get to it till tomorrow night probably. Thanks for reporting :)

[2016-09-01 15:07] ddunbar commented on #30
Swift in general started depending on this in Foundation I believe.

I don't think I'll be able to submit a PR any time soon, just wanted to
report it!

On Thursday, September 1, 2016, Haris Amin notifications@github.com wrote:

[2016-09-01 17:04] hamin commented on #30
@ddunbar no worries thanks for reporting I will try it later this week

[2016-09-02 02:40] hamin commented on #30
@ddunbar do you know which version of curl/libcurl Foundation is using? I was unable to figure that out. I did a simple `apt-get install curl` in the docker container and SPM is working again. But I want to make sure I add the official compliant version of curl/libcurl in the main Dockerfile.

[2016-09-03 03:04] hamin commented on #28
Closing this issue. These problems I think have long been solved. Happy to reopen if anyone else is still running into this issue.

[2016-09-03 03:04] #28 closed, assigned to nobody

[2016-09-03 03:05] hamin commented on #13
The Ubuntu Version is configurable. Right now going with latest LTS release supported by the official Swift ubuntu builds.

[2016-09-03 03:05] #13 closed, assigned to nobody

[2016-09-03 03:05] #30 closed, assigned to nobody

[2016-09-11 15:46] digidhamu opened #31 "Guess snapshot version is wrong"
I believe snapshot version should be `DEVELOPMENT-SNAPSHOT-2016-09-06-a` rather `DEVELOPMENT-SNAPSHOT-2016-09-02-a`. Please advise.

[2016-09-13 12:55] mikeknep commented on #28
I'm still having this issue exactly the same as initially described. It's hardly mission critical so I don't mind the issue being closed, but I figured I'd report my experience here in case someone else runs into this.

[2016-09-13 17:12] hamin commented on #28
@mikeknep did you try `--privileged=true`?

[2016-09-13 18:16] mikeknep commented on #28
@hamin yep. Using the latest image (`72a024daf2ad`).

[code]

[2016-09-14 17:23] hamin commented on #31
It's actually correct. I'm just falling behind on keeping up on nightly development snapshots. Need to still do the official swift 3 release snapshot. We need to version similar to standard docker versioning but I"m not super familiar with doing it myself. Any help would be appreciated. Will leave this issue open for further discussion

[2016-11-05 23:47] cloutiertyler opened #34 "Swift 3.0 Docker image tag"
Can we get a tag for the official Swift 3.0 release on Dockerhub?

[2016-11-12 01:48] #31 closed, assigned to nobody

[2016-11-12 01:54] hamin commented on #34
@TheArtOfEngineering  Added 3.0.0 tag on docker hub https://hub.docker.com/r/swiftdocker/swift/builds/bycyuaqmmkt9mza5ybxslpm/

Also added 3.0.1 tag should be on docker hub soon too :)

Enjoy :)

[2016-11-12 01:54] #34 closed, assigned to nobody

[2016-12-02 23:14] rogersachan opened #8 "Ubuntu 16.04?"

[2016-12-30 11:11] swizzlr opened #40 "Official Docker Image"
## Background
About a year ago Mario from Docker contacted us asking if we would consider bringing this into the official images. The community said [yes](https://lists.swift.org/pipermail/swift-dev/Week-of-Mon-20160118/000908.html), but Haris and I both got very busy. I'm now working on Swift backend development full time and this is squarely under my remit.

## Why
- Promote adoption of Swift on

[2016-12-30 16:35] hamin commented on #40
@swizzlr let's make this priority. I'll try to document some stuff I found when looking at this last year. I was particularly looking at the official redis image. And was swinging how they were breaking up versions in separate folders. Not exactly sure how this would work for us.

[2016-12-30 19:19] swizzlr commented on #40
@hamin sounds good. Open a PR with whatever you have. I want this official by the end of the first week of the new year, if possible.

[2016-12-30 19:23] swizzlr commented on #40
(I am full of rosato spumante)

[2016-12-30 19:23] swizzlr commented on #40
🍸🍾

[2016-12-30 21:40] Khalian commented on #40
How about this : https://github.com/Khalian/docs/tree/master/swift

I can send a PR if you think this is good enough for point 1.

[2016-12-30 22:16] swizzlr commented on #40
@Khalian that's something to get going with for sure. Can you open that as a PR against _this_ repo, into a subfolder (docs/). We'll review. Once we have it good enough we'll open it against the official repo, along with the other PR.

[2016-12-30 22:44] Khalian commented on #40
https://github.com/swiftdocker/docker-swift/pull/43

[2016-12-31 15:57] swizzlr commented on #40
Booya https://github.com/docker-library/official-images/pull/2500

[2017-01-07 20:58] Khalian opened #44 "git commit history seems messed up"
My commits appear twice after the last merge.

[2017-01-07 21:01] Khalian commented on #44
https://github.com/swiftdocker/docker-swift/pull/43/commits. IIRC I had exactly one commit and I was squashing it multiple times as the reviews came in. @swizzlr put a new commit on top with an incorrect rebase. The PR then became 5 commits which was then merged and hence the merge was wrong.

[2017-01-07 21:11] swizzlr commented on #44
@Khalian I don't have it buddy. What change was it that you wanted to include?

[2017-01-07 21:16] Khalian commented on #44
Look at commit https://github.com/swiftdocker/docker-swift/commit/0e5155f56aa083f35ca20e73a124610b2eeb9494 and https://github.com/swiftdocker/docker-swift/commit/267d5d98749ebdaee07b7291f30b636f8ca9c191. They are the same thing and both are in mainline. This does not happen with a proper rebase/merge of a PR.

[2017-01-08 10:58] swizzlr commented on #44
Ok. Don't know how that happened. Is there a patch that I overwrote? Otherwise I think we're fine.

[2017-01-08 20:49] Khalian commented on #44
No the content looks alright, although I am of the opinion certain commits need to be squashed. But then again the HEAD branch is already corrected and we expose a misplaced master branch to our consumers.

[2017-01-12 00:58] tianon commented on #9
Indeed -- `--privileged` is a _huge_ hammer, and should be used with extreme caution and care.  It'd be useful IMO to narrow down exactly which part of Docker's default seccomp profile is causing the denial, especially so either the debugger can be fixed to not require that (if possible) or a custom profile to allow it can be written (to avoid using a bare `unconfined`). :+1:

[2017-01-12 09:04] swizzlr commented on #9
@tianon thanks for the tip. we know it's something to do with accessing keyboard drivers in LLDB, but we might have more luck following up on their mailing list. In any case, REPL support is something rarely requested – most devs have their own local install of Swift that works just fine for that. It would be very nice to have a permanent solution.

[2017-01-13 00:30] swizzlr opened #47 "Alternative working base image to Ubuntu"
The slim compiler image doesn't need full Ubuntu if we can get away with it.

To try:
- [ ] busybox
- [ ] other slim Debian images?
- [ ] ??

The base image MUST be an official Docker image.

[2017-01-13 00:31] swizzlr opened #48 "Document how to build in a docker container and export static binary to a new container"

[2017-01-13 00:37] hamin commented on #47
I would love to try that but it would be it wresting getting entire llvm and c deps on alpine, I know historicallybalpine had issues with it but it's way better now from friends that I know. So yeah let's give t a shot but we would have to do most work I think. Not sure how much swift org will be able to help. But yeah let's do it

[2017-01-13 00:37] hamin commented on #48
So are we officially under docker official images imbrella on docker hub now?

[2017-01-13 07:30] swizzlr commented on #48
@hamin no, but soon hopefully!

[2017-01-13 15:53] swizzlr opened #49 "Upgrade Clang?"
We're pinning to 3.6 right now, should it be 3.8 or even 4.0? Let's check in with CI and dev team.

[2017-01-13 15:53] swizzlr opened #50 "Automated images based on new snapshots"
If we can get an RSS feed or something of new snapshots, we can auto push new snapshots for access to preview versions of Swift.

[2017-01-13 15:55] hamin commented on #50
@swizzlr that would be awesome...would make it way easier to play with latest snapshots...I think swift team is doing nightly snapshots now... but yes some api/rss feed or whatever would be great. Another thing to discuss with swift core community

[2017-01-13 15:55] swizzlr commented on #47
Okay, three things:
1. Investigate reducing number of packages
2. Investigate smaller clang/llvm (can we drop the lldb/repl?)
3. Investigate buildpack-deps/alpine

[2017-01-13 15:56] swizzlr opened #51 "Investigate reducing number of packages"
Can we get away with less packages? Any of them redundant? rsync, libxml2?

[2017-01-13 15:56] swizzlr opened #52 "Remove LLDB/REPL"
We should find a way of installing Swift and removing LLDB and the REPL.

[2017-01-13 15:57] hamin commented on #47
all sounds good... i'd love to keep the repl still...hmm dunno

[2017-01-13 15:59] swizzlr opened #53 "Investigate buildpack-deps/alpine"
Can we make an image that works on this instead? Do we need to recompile a custom flavour of swift that'll work on a non-debian distribution?

[2017-01-13 16:00] swizzlr commented on #53
First step – let's try to build this on alpine and see about the file size difference.

[2017-01-13 16:01] swizzlr commented on #50
Whoever's running Swift CI could let us know – perhaps there's a jenkins plugin.

[2017-01-13 16:01] swizzlr commented on #47
@hamin not for an alpine variant we don't have to. this would be a version for distributing swift apps

[2017-01-13 16:02] hamin commented on #47
@swizzlr agreed for alpine we can skip lldb/repl. Sounds like a plan

[2017-01-13 18:33] aduermael commented on #9
@tianon @swizzlr @hamin that works:
[code]

[2017-01-13 18:39] tianon commented on #9
@aduermael niiiice, I've confirmed that's working here too!  That's way better. :metal:

[2017-01-13 18:51] Khalian commented on #53
I gave it a shot. While the whole thing builds, there is an ABI mismatch. Swift is not runnable in Alpine at this point.

[2017-01-13 19:16] swizzlr commented on #53
We need to recompile it against muslibc I guess?

[2017-01-13 19:17] swizzlr commented on #9
@tianon @aduermael Thanks so much Adrian! I will fold this into the documentation.

[2017-01-13 19:26] swizzlr opened #54 "Create `onbuild` variant that runs `swift build` and potentially executes the output"
cf. https://github.com/docker-library/python/issues/77

Perhaps this could work?
[code]

[2017-01-13 19:34] swizzlr commented on #9
So, to run the REPL we need to add the sys_ptrace key which allows you to "Trace arbitrary processes using ptrace(2)."

https://docs.docker.com/engine/reference/run/#/runtime-privilege-and-linux-capabilities

Now we just need to figure out how necessary that is, and if the REPL can run without it!

[2017-01-13 20:05] aduermael commented on #9
@swizzlr the REPL uses LLDB, and LLDB needs ptrace...

https://swift.org/lldb/#why-combine-the-repl-and-debugger

[2017-01-21 11:12] swizzlr opened #55 "Automated generation of new Dockerfiles and images"
Currently every new release requires manual generation of new Dockerfiles and images.

Continuous integration using Travis CI, the RSS feed from the releases page and the nightly snapshots would allow this to happen.

Anybody want to take this on?

[2017-01-21 23:13] #40 closed, assigned to nobody

[2017-01-21 23:13] swizzlr commented on #40
Done.

[2017-01-22 11:46] krystiansliwa opened #56 "Image for ARM (armhf)"
Hi,
are there any plans to have official docker image for ARM devices?

[2017-01-22 14:18] swizzlr commented on #56
Since ARM isn't officially supported by the Swift project I think it would be out of scope for this project to simultaneously support Swift on ARM and a docker image based on that. While I'm very interested and supportive of this effort, perhaps we should create an experimental image under this organisation - Docker Swift ARM?

[2017-01-22 21:46] swizzlr commented on #48
Getting a lot of +1s on this; depends on #55 since master currently has this ability but 3.0 does not with -static-executable flag.

Might be also worth exploring semi-static variants where libicu and other big libraries are vendored in a tiny base image.

[2017-01-22 21:51] helje5 commented on #48
I don't think there is a strong requirement for a static binary, the idea is just that the deployment image doesn't carry compilers and such. That doesn't depend on a -static-executable flag (though obviously this makes stuff easier :-)

Pretty much the same thing you have in Linux package management, runtime packages and -dev packages which contain headers etc.

[2017-01-23 07:18] krystiansliwa commented on #56
I found some docker iamge for armhf Ubuntu 16.04, and compiled Swift with 3.0.2 version. Maybe this is a good point to start? What do you think?

[2017-01-23 07:56] swizzlr commented on #56
Please share what Dockerfile have in a repository!

[2017-01-23 08:18] krystiansliwa commented on #56
I found that repo: https://hub.docker.com/r/armv7/armhf-ubuntu/

[2017-01-23 08:20] swizzlr commented on #56
I mean that plus the instruction for how to build an ARM docker image.

One thing: I doubt we can offer this under the official repo - we need the base image to be an official repo too, unless it's FROM scratch.

[2017-01-23 08:29] krystiansliwa commented on #56
Unfortunately currently there are only "experimental" images [according this info](https://github.com/docker-library/official-images).

[2017-01-23 08:36] swizzlr commented on #56
Okay, well if you could contribute a Dockerfile that produces an ARM image with working Swift then we can have a look!

[2017-01-23 08:54] krystiansliwa commented on #56
Ok, I will try and let you know about results ;)

[2017-01-23 09:48] mackoj commented on #50
Hi, we can get all new snapshots from this feed https://github.com/apple/swift/releases.atom.

[2017-01-23 09:57] swizzlr commented on #50
Are those precompiled or just a source tree?

[2017-01-23 10:09] mackoj commented on #50
This rss feed represent each tag so it's only source code. If Apple provide precompiled version directly on Github you could access it with https://developer.github.com/v3/repos/releases/#get-a-single-release.

[2017-01-23 10:44] alblue opened #57 "Run apt-get clean at the end of the installation"
You should run 'apt-get clean' at the end of the apt-get installation process; this will remove any downloaded .tgz files which are no longer needed from /var/cache/apt

[2017-01-23 10:56] swizzlr commented on #50
Apple provide nightly snapshots from their Jenkins on the website. We need some way of retrieving the latest snapshot's URL/name.

[2017-01-23 11:04] swizzlr commented on #57
This isn't necessary. We used to have this in but ubuntu base image does this automagically: https://github.com/tianon/docker-brew-ubuntu-core/blob/9c78896fe39d5be95cc4a6ae6c0475599a1bc396/xenial/Dockerfile#L21-L24

[2017-01-23 11:04] #57 closed, assigned to nobody

[2017-01-24 06:25] #44 closed, assigned to nobody

[2017-01-24 06:50] Khalian commented on #49
https://github.com/swiftdocker/docker-swift/pull/58

[2017-01-26 00:56] aidansteele commented on #50
Each one of the snapshots listed on GitHub (on the Atom feed linked above) has a corresponding binary at `https://swift.org/builds/development/ubuntu1604/swift-$TAG/swift-$TAG-ubuntu16.04.tar.gz`.

I'd be happy to submit some PRs to a) have a build arg to (default) build releases or build nightlies and b) automating the building and publishing of nightlies. Is that something that would be accepted

[2017-01-26 00:59] aidansteele commented on #47
I think an Alpine variant is going to be difficult. Alpine's CRT is musl instead of glibc. Swift makes the assumption right now that Linux == glibc. There are variants of Alpine using glibc, but they are unsupported and then you lose out on a lot of the packages in the Alpine ecosystem which assume musl.

There has been some research into it on the mailing lists: https://lists.swift.org/pipermail/

[2017-01-26 01:02] aidansteele commented on #53
I might have posted this in the wrong issue, but I made a comment re: compiling Swift against musl here @swizzlr: https://github.com/swiftdocker/docker-swift/issues/47#issuecomment-275280880

[2017-01-26 13:57] swizzlr commented on #47
So it seems like we're stuck until somebody can port Swift. Maybe we should investigate Busybox Glibc?

[2017-01-26 13:58] swizzlr commented on #53
@aidansteele cheers. closing this in favour of #47

[2017-01-26 13:58] #53 closed, assigned to nobody

[2017-01-26 16:59] hamin commented on #50
@aidansteele that sounds great but I think we're waiting to hear back from some folks at apple/swift core team to see if they can provide any deeper integration. @swizzlr correct me if I'm wrong

[2017-01-26 20:43] swizzlr commented on #50
@hamin true but tbh I doubt it's going to be much fancier than that. We can get going on this I think in the meantime.

@aidansteele submit away. How do you propose we automate this? Jenkins?

[2017-01-26 21:26] aidansteele commented on #50
@swizzlr I'm a big fan of Jenkins and use it for all my personal projects, but the problem is hosting. I'm not aware of any free hosted Jenkins services for OSS projects, e.g. like Travis.

I would be more than happy to host this project's CI on the Jenkins server I'm using for http://github.com/awswift, but that would introduce a dependency on me and it'd make sense for others to be uncomfortable

[2017-01-26 21:27] aidansteele commented on #47
Busybox w/ glibc sounds like a really promising idea 👍 That said, I'm not super familiar with the Busybox world of packages - is it as popular as Ubuntu/Alpine?

[2017-01-26 22:21] swizzlr commented on #47
As I recall Busybox used to be v popular before Alpine among Docker users. Could be a safe bet.

[2017-01-26 22:22] swizzlr commented on #50
My only issue with Travis is scheduling. For now I'm happy to front the cost of deployment, or for you to do so, until such time as perhaps we can integrate with the Swift Jenkins.

[2017-01-27 03:10] Khalian commented on #50
@aidansteele I already hosted it on shippable : https://app.shippable.com/projects/58663bf6f6c7101000c4038f/builds/latest which is better than travis for docker builds. I will take a look at RSS notifications from shippable whenever I get the time.

[2017-01-27 05:42] Khalian commented on #50
Following up with shippable support : https://github.com/Shippable/support/issues/3331

[2017-01-27 16:37] swizzlr opened #60 "3.1 Bug Workaround"
Add this to your Dockerfile to remove the offending code that causes the 3.1 image to fail.
RUN sed -i '/#include <Block.h>/d' /usr/lib/swift/CoreFoundation/CFBase.h

Tracking the issue in https://github.com/apple/swift-corelibs-foundation/pull/843

[2017-01-29 07:33] Khalian commented on #52
I presume we can, but lldb is not a separate package we use in the installer so I am unsure at which point we can drop it. Why do we wish to drop repl support ?

[2017-01-31 00:43] aidansteele commented on #50
I'm not sure I follow. How would RSS notifications from shippable be helpful? We don't need a feed of the Docker images being built, but triggering CI jobs for this project from new entries in the upstream Swift language release RSS feeds.

[2017-01-31 08:19] Khalian commented on #50
" but triggering CI jobs for this project from new entries in the upstream Swift language release RSS feeds"

So the RSS feeds are on release candidates and not on the CI pipeline? I dont see the rationale of putting an RSS feed on manually triggered builds.

[2017-02-07 12:54] e-kazakov commented on #47
IBM has `ibmcom/swift-ubuntu-runtime` image without build tools.
But I had problems with their [Dockerfile](https://github.com/IBM-Swift/swift-ubuntu-docker/blob/master/swift-runtime/Dockerfile) and had to [update it](https://gist.github.com/azeff/906e13adca0df3e20b6d68c93ce69754) before I was able to run my kind of 'Hello Word' app.

It's not `alpine`, but still much smaller than `_/swift` image.

[2017-02-07 13:06] swizzlr commented on #47
@azeff could be a good starting point, but I'd really like an image that can compile as well.

[2017-02-07 13:10] e-kazakov commented on #47
Uh, I see. I'm looking for image to run vapor app.

[2017-02-07 21:02] swizzlr commented on #47
@azeff This is a good use case. I've been working on something similar at work. I hope to be able to share it soon.

[2017-02-09 12:41] johnlinvc commented on #54
I successfully built a simple hello world package with following onbuild setup.
[code]
the CMD will find the first non `.so` built executable and run it.

[2017-02-09 13:32] swizzlr commented on #54
Could you propose that as a PR?

[2017-02-11 06:51] glessard commented on #49
I tried to add nullability annotations to a C header used by a swiftpm project, but this didn't compile in the swift-docker image. It had worked in a local Ubuntu-16 installation, where
[code]
Nullability first appears in the clang 3.7.0 documentation as far as I can tell.

[2017-02-18 22:14] Khalian commented on #51
I was able to remove rsync. https://github.com/swiftdocker/docker-swift/pull/63

I want to keep libxml2, since its a pretty core package and tons of other libraries use it. Rsync is just a command line utility.

[2017-02-18 22:15] Khalian commented on #49
@glessard I see, I will try to push to merge this in.

[2017-02-20 00:13] arielelkin opened #64 "container gets stuck restarting when using docker-compose"
**docker-compose.yml**

[code]

[code]

Pretty confusing... Why is it stuck restarting?

[2017-02-27 12:24] arielelkin commented on #64
@hamin @swizzlr bump 🙂

[2017-02-28 06:26] swizzlr commented on #64
@arielelkin Sorry for the delay in getting back to you on this.

So, what you have here is an infinite restart loop because the default command for Swift is `bash`. You need to specify what you want your container to do on start (https://docs.docker.com/compose/compose-file/#/command)

[code]

Although if your compilation times are long, you may want to create your own Swift image first by writing

[2017-02-28 06:26] #64 closed, assigned to nobody

[2017-02-28 06:26] #60 closed, assigned to nobody

[2017-04-03 11:45] cowlike opened #67 "swift:latest - Import modules fails with can't find stddef.h"
Version 3.0.2 works but latest (3.1) does not.

<pre>
System is Windows 10
PS C:\> docker version
Client:
 Version:      17.03.1-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   c6d412e
 Built:        Tue Mar 28 00:40:02 2017
 OS/Arch:      windows/amd64

Server:
 Version:      17.03.1-ce
 API version:  1.27 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   c6d412e
 Built:

[2017-04-03 20:13] swizzlr commented on #67
This is strange. It seems to be an issue in the REPL, since it's been working with compiled stuff. We should look into this further. Can it be reproduced outside of Docker, on "raw" Linux?

[2017-04-03 20:50] cowlike commented on #67
I don't have a Linux box handy to try it on at the moment. I did verify that it looks good from the compiler. I mounted a local folder with a simple program in *random.swift*:
<pre>
import Glibc
print("random = \(random())")
</pre>
and then I ran it with:
<pre>docker run --rm -v /c/src:/root/src swift:latest swift /root/src/random.swift</pre>

got the expected output.

[2017-04-06 23:34] Khalian commented on #49
Can we close this ?

[2017-04-07 00:49] glessard commented on #49
Could the `3.1` and `latest` tags be updated? After that happens, by all means.

[2017-04-10 20:32] Khalian commented on #51
Removing cmd utils post installation : https://github.com/swiftdocker/docker-swift/pull/69

[2017-04-21 20:17] helje5 opened #70 "/usr/lib/swift/CoreFoundation not readable for non-root users"
When running as a regular user, swiftc can't compile some code because the files in `/usr/lib/swift/CoreFoundation` are not readable:

[code]

That issue seems to be specific to CoreFoundation, the other directories seem to come with proper permissions.

[2017-04-21 22:47] hamin commented on #70
hmm @swizzlr thoughts on this?

[2017-04-22 13:52] swizzlr commented on #70
This sounds like an issue with the upstream package, especially if the other directories are fine. We're literally just untarring it. My recommendation would be to figure out what's going wrong with the CI and fix it. In the interim, `RUN chmod...` would do the trick.

I'm curious @helje5, what's the use case for non-root usage? I've never encountered that use case in docker before.

[2017-04-22 14:31] helje5 commented on #70
Yes, the `RUN chmod` is what I do now as a workaround ([mod_swift-demo.dockerfile](https://github.com/AlwaysRightInstitute/mod_swift/blob/develop/.docker/mod_swift-demo.dockerfile#L36)). Would be cool if both tarball and Docker would be correct out of the box (that is even more important for the tarball ...)

So you are saying the tarball is b0rked. Do you want me to file a Swift issue or are you

[2017-04-25 04:27] Khalian commented on #55
Any tutorials on how to do this ?

[2017-04-25 14:33] hamin commented on #55
no tutorials... i think a while ago we figured that we could get some sort of notification from swift build releases...i think ppl on swift mailing list liked the idea, but i don't think we got a follow up on it

[2017-04-30 03:13] Khalian commented on #70
Would it make sense to include the chmod to the official build(maybe as a core RUN or ONBUILD step) ?

[2017-05-02 07:39] kingwangboss opened #73 "建议把openssl和uuid加入镜像。"
建议把openssl和uuid加入镜像。

[2017-05-02 19:56] Khalian commented on #73
Sorry but we cant read chinese.

[2017-05-02 20:56] swizzlr commented on #73
"It is recommended to add openssl and uuid to the mirror."

@kingwangboss 你可以给代码示例吗 – "can you give a code sample?"

[2017-05-03 03:17] kingwangboss commented on #73
apt-get update && apt-get install uuid-dev && apt-get install openssl && apt-get install libssl-dev

每次我使用这个镜像部署swift服务都需要先安装这些，然后我自己制作了一个镜像，在你们镜像加入了一层。
Every time I use this image to deploy swift services you need to install these, and then I made a mirror, in your mirror joined a layer.

[2017-05-11 15:25] helje5 opened #75 "Shared library lookup path is not setup for Swift"
When you try to run a Swift binary which is linked dynamically, it won't find the Swift shared libraries in the current Docker image.

You may want to add this:

[code]

[2017-05-20 08:34] ritalin commented on #67
FYI workaround

[code]

reference from: https://bugs.swift.org/browse/SR-3648

[2017-05-24 22:04] cowlike commented on #67
Thanks for that workaround. I verified that it does work on Windows 7 and Windows 10.

[2017-05-26 15:01] hamin commented on #67
@ritalin thank you for the solution! we'll keep track of it

[2017-05-26 15:01] #67 closed, assigned to nobody

[2017-06-21 13:06] LoiKos commented on #9
Hello, I download the latest official swift image from docker hub and there is still the problem with REPL.

[code]

[code]

Can't make it work even using `--cap-add sys_ptrace` but it work with `--privileged`

@swizzlr @hamin

[2017-08-16 06:41] longquan7 opened #78 "support arm64 architecture"
I have a problem that this image whether or not to support arm64 architecture.

[2017-08-17 05:45] Khalian commented on #78
Duplicate of https://github.com/swiftdocker/docker-swift/issues/56.

[2017-08-26 08:06] rayfix opened #79 "Swift 4 support"
Hello!  New to docker so I am still trying to get my head around things. Looks really great but sorry in advance if I have something wrong here.

https://hub.docker.com/_/swift/ mentions it being "A great way to try out pre-release builds!" which makes me believe Swift 4 is in scope for this project.

What needs to take place for this to happen. Is it just a matter of making a Dockerfile with the

[2017-08-26 08:22] rayfix opened #80 "Instructions on hub.docor.com/r/_/swift/ incorrect"
https://hub.docker.com/r/_/swift/  states:

`docker run --cap-add sys_ptrace -it --rm swift swift`

However, this doesn't actually work.  You need `--privileged`

Also,
[code]

Seems like it should be written as:

[code]

Removing /bin/bash and adding `--privileged`.

(It wasn't clear to me if the page can be updated via changes to the repo.)

[2017-09-01 15:20] swizzlr commented on #79
@rayfix that's correct – throw us a PR and let's give it a whirl!

cc @lgaches didn't you do some Swift 4 docker work recently?

[2017-09-01 15:33] lgaches commented on #79
I have swift 4 branch on my fork ( https://github.com/lgaches/docker-swift/tree/swift-4 ) . @swizzlr Do you want a PR ?

[2017-09-01 15:53] swizzlr commented on #79
@lgaches YASSSSSS

[2017-09-01 15:55] swizzlr commented on #79
@lgaches QUEEEEEEEEEEEEEEEEEN

[2017-09-08 19:54] andradei commented on #9
Had to add `--privileged` like @LoiKos mentioned. Maybe it is time to update the README that is shown on https://hub.docker.com/_/swift/

[2017-09-08 19:58] andradei commented on #55
We should get this going :)

[2017-09-08 20:28] tianon commented on #9
Sounds like more caps are now required than before -- definitely time to
update the description, but we need to figure out the minimal set of
required caps first (because adding "--privileged" to that description is a
100% no-go; you might as well not use a container at that point).

[2017-09-08 20:38] hamin commented on #9
this one is tough and has been haunting us forever :) . Not sure what to do here, in the Github readme we have privileged noting that ppl use containers locally for development too and not just for deployments, places where a Swift repl is more needed or helpful. I think we decided to exclude them from the Docker hub documentation specifically for containers on linux servers concern. I think this

[2017-09-08 20:51] aduermael commented on #9
@tianon

Unfortunately, even with `--cap-add=ALL`, I can't make it work... 😕

[2017-09-08 21:30] tianon commented on #9
Ah, so there's likely something in the default seccomp profile and/or
apparmor profile blocking it now.

[2017-09-08 21:31] tianon commented on #9
Confirmed, I can run the REPL with just "--security-opt
seccomp=unconfined" (and no other options).

Now to narrow down what exactly is required for it to work that the
default profile blocks.

[2017-09-08 22:04] tianon commented on #9
Ok, here's what I've had success with: (where `default.json` comes from https://raw.githubusercontent.com/docker/docker-ce/v17.06.2-ce/components/engine/profiles/seccomp/default.json)
[code]

[code]

[2017-09-11 07:00] Khalian commented on #9
Should we even be supporting repl in the official image? If things like text editors are excluded, everything except the core compiler and runtime should be excluded right? The purpose of this image is execution, not dev support.

[2017-09-13 16:11] pixelspark commented on #79
Great work! So how do I use this now? Docker Hub does not show any 4.0 tags and 'latest' gets me 3.2 still...

[2017-09-13 16:12] hamin commented on #79
@pixelspark use `:latest` should be pointing to master which is using on swift 4 development snapshot

[2017-09-13 16:19] pixelspark commented on #79
@hamin I tried that, but for some reason it gives me 3.1:
[code]
This is using Docker version 17.06.2-ce, build cec0b72, `docker info` tells me my registry is `https://index.docker.io/v1/`.

[code]

[2017-09-13 18:41] hamin commented on #79
@pixelspark I just rebuilt the tag again and it seems to be working fine, do you mind trying again?

[code]

[2017-09-14 03:28] mbeaty commented on #79
Yep, works for me. But, then, it worked a couple of days ago too.

[2017-09-19 18:31] pixelspark commented on #79
Hm, appears to work when I change 'swift:latest' to 'swiftdocker/swift:latest'. Am I in the wrong place?

[2017-09-22 14:53] rymcol commented on #79
I created https://github.com/docker-library/official-images/pull/3485 to update https://hub.docker.com/_/swift/

Edit: Add 3485 to pull url

[2017-09-22 15:14] hamin commented on #79
@rymcol thank you and no @pixelspark you're not in the wrong place :) i think we should have this resolved soon. please stay tuned

[2017-09-23 11:44] pixelspark commented on #79
👍 Is there also a way to use the 4.0 release version instead of the latest development one?

[2017-09-25 19:08] hamin commented on #79
@pixelspark yes you can use `swiftdocker/swift:latest` till we get it merged in the official docker image

[2017-09-25 20:08] pixelspark commented on #79
@hamin I know and it works great, but it gives me the development version (snapshot), not the 4.0 release version. Is there a way to get the release from the swiftdocker repo as well and/or will there be a 4.0 tag on the official swift image once merged?

[2017-09-26 15:21] hamin commented on #79
@pixelspark we'll add a tag once the official swift image is merged, it will come for sure...sorry about the delays

[2017-09-26 19:01] pixelspark commented on #79
@hamin no problem, appreciate all the work you are putting in!

[2017-09-29 13:25] helje5 commented on #56
Doesn't have arm64, but might still be useful: [dockSwiftOnARM](https://github.com/helje5/dockSwiftOnARM/)

[2017-09-29 17:37] FuzzOli87 opened #85 "Accelerate Framework and how to use it"
Hello!

I have an application that uses the Accelerate Framework and I'm wondering if there is a way to use it inside this Docker image? I'm aware that some stuff isn't ported over but information about package management etc isn't easy to find for Swift on Docker.

Thanks!

[2017-10-02 08:30] saroar opened #86 "swift-build: error:"
hi there i am useing this Docker file for my Perfect sercer side app i got some error would you like to check it please

[code]

[2017-10-02 15:35] hamin commented on #79
Almost there https://github.com/swiftdocker/docker-swift/pull/84

[2017-10-04 03:53] hamin commented on #79
@pixelspark and its official :) https://hub.docker.com/_/swift/

[2017-10-04 03:53] #79 closed, assigned to nobody

[2017-10-04 17:43] tianon commented on #80
See also https://github.com/swiftdocker/docker-swift/issues/9#issuecomment-310072262.

[2017-10-14 19:00] jonauz commented on #9
So what is the way to make this docker work? As I keep getting `error: failed to launch REPL process: process launch failed: 'A' packet returned an error: 8` no matter what I try to copy from here to my terminal.
Can't pass even first step to install this docker. I'm not familiar with REPL, so definitely have no clue how to set up it, just following readme, which is not working.

[2017-10-23 18:20] jeremyblalock opened #87 "Cannot import Foundation in REPL"
Using the instructions found in #9 I have successfully run a REPL, but when trying to import Foundation, I get the following error:

[code]

**Is this expected?** Should I be able to import Foundation, or am I required to create a separate image and install Foundation there?

[2017-10-23 18:51] jeremyblalock commented on #87
Doing some research, it looks like this issue has been researched and "resolved" here: https://bugs.swift.org/browse/SR-5686.

So What do we need to do to update the documentation / Dockerfile to get this to work?

[2017-10-23 18:54] jeremyblalock commented on #87
Resolved this issue, but we should update documentation to reflect the need to add to the search path. The following works properly from within the container:

[code]

[2017-10-23 19:07] hamin commented on #87
@jeremyblalock a PR to the readme would be much appreciated :)

[2017-11-10 13:56] swizzlr commented on #9
@jonauz If the Readme instructions aren't working for you, please open a separate issue. This issue tracks the fact that the REPL fails without elevated security privileges.

[2017-11-10 15:29] swizzlr commented on #9
Action item: me to update Readme and sync it with official repo README.

[2017-11-10 16:09] swizzlr commented on #51
Closing this for now, since we've probably done what we can for the time being.

[2017-11-10 16:09] #51 closed, assigned to nobody

[2017-11-10 16:12] swizzlr commented on #47
This issue is being refocussed around the base image for the slim-compiler flavor of this image. Any suggestions as an alternative to Busybox and Ubuntu?

[2017-11-10 16:34] swizzlr opened #89 "Document current state of the art in deploying Swift binaries in multiple stages"
I know a few people who have done this. Will ask.

[2017-11-10 16:35] swizzlr opened #90 "Image flavors"
## What are image flavors?

Image flavors are variants of the image that offer different environments. While the main, `default` flavor is the one that supports 80-90% of use cases, we should be able to offer variants that support other use cases to minimize the amount of customization a user needs.

## What's this issue for?

This issue tracks the effort to expand beyond the current `default` fla

[2017-11-10 16:44] swizzlr commented on #86
@saroar not sure if you still need assistance, but it looks like you're writing a Dockerfile from scratch?  Please use the base image we provide. If you still need help, feel free to reopen the issue!

[2017-11-10 16:44] #86 closed, assigned to nobody

[2017-11-10 17:03] swizzlr commented on #87
It's not entirely clear to me if/how they've fixed the issue in the Swift project. However, we definitely need a note to be added about this.

[2017-11-10 17:08] swizzlr commented on #85
@FuzzOli87 Apologies for the delay in getting back to you.

I'm sorry to say that, AFAIK, Accelerate is a closed source library that provides API on top of several open source libraries: https://stackoverflow.com/questions/16432028/what-are-the-open-source-equivalents-of-apples-accelerate-framework-libraries

If I were you, I'd write an API compatible "Hackcelerate" Swift package that reimplements

[2017-11-10 17:08] #85 closed, assigned to nobody

[2017-11-10 17:08] swizzlr commented on #80
Action item here is me updating the README.

[2017-11-10 17:08] #78 closed, assigned to nobody

[2017-11-10 17:11] swizzlr commented on #75
@helje5 Just following up: what exactly is needed here? I've used dynamic libs, I think, in the Swift docker image and have had no problems. What are these search paths providing us with?

(n.b. I have no objection to this, I just want to understand more before proceeding.)

[2017-11-10 17:14] swizzlr opened #91 ""Fatten" the default image"
The default `docker-swift` flavor should have the batteries included to get most common Swift projects off the ground fast.

To add:

- `openssl`
- `libuuid`
- ?

Related to #90. Supersedes #73.

Please add suggestions as necessary.

[2017-11-10 17:15] swizzlr commented on #73
superseded by #91

[2017-11-10 17:15] #73 closed, assigned to nobody

[2017-11-10 17:17] swizzlr commented on #70
Presumably this has been closed by #74.

[2017-11-10 17:17] #70 closed, assigned to nobody

[2017-11-10 17:19] swizzlr commented on #56
I don't think this is something many people have stepped forward and asked for, nor something that others have offered to support. I'm closing this issue for now, however I strongly encourage anyone passionate about running Swift on ARM Linux to bring us a working Dockerfile. If you do so, it will have a home here.

[2017-11-10 17:25] swizzlr commented on #54
Closing per deprecation of `onbuild` in official images.

[2017-11-10 17:25] #54 closed, assigned to nobody

[2017-11-10 17:30] swizzlr opened #92 "Backport master improvements to 3.1 tag"
Master's received a number of improvements since 3.1 came out. We should back port these and then PR them into official-images.

[2017-11-10 17:31] swizzlr commented on #49
superseded by #92

[2017-11-10 17:31] #49 closed, assigned to nobody

[2017-11-10 17:32] swizzlr commented on #50
This is a dupe of #55 .

[2017-11-10 17:32] #50 closed, assigned to nobody

[2017-11-10 17:46] swizzlr opened #93 "Document supported versions of Swift"
Since there aren't many of us, Swift is improving rapidly and I don't hear millions of voices crying out for it, I executively resolve that:

1. This project will only support the latest two major version numbers of Swift
2. This project will only support the latest minor version of the previous major version of Swift
3. This project will only support the latest two minor versions of the latest ma

[2017-11-10 18:13] #93 closed, assigned to nobody

[2017-11-10 20:50] helje5 commented on #75
Let me retry with the current image, not sure yet when I find the time. I think the issue was that the Swift shared libraries are located in the (non-standard) paths above and hence cannot be located by ld.so when running such a program.

[2017-11-10 20:58] helje5 commented on #56
Well, my Dockerfile is working just fine. At least for Swift 3.1. Swift 4 is still stuck. So how would you suggest to go forward with this? Another Dockerfile as a PR, moving over dockSwiftForArm into the `swiftdocker` org?

[2017-11-10 23:02] #92 closed, assigned to swizzlr

[2017-11-10 23:06] swizzlr opened #96 "Document templating"
I.e. explain how this works, which is what I'm currently doing:

[code]

[2017-11-10 23:14] swizzlr commented on #56
@helje5 I was entirely mistaken – we can support multiple architectures.

If you're willing to support arm, we'd be happy to have it. I assume we need a separate Dockerfile? Please propose it as a PR inside `3.1/arm64`.

[2017-11-10 23:14] swizzlr commented on #56
For other contributors, we can make this official: https://github.com/docker-library/official-images#multiple-architectures

[2017-11-10 23:17] swizzlr commented on #75
@helje5 Are you trying to link your compiled program against the Swift package manager, etc.?

[2017-11-11 00:37] helje5 commented on #75
No, just against Dispatch, Foundation and such. The basics.

[2017-11-11 00:38] helje5 commented on #75
I don't remember what exactly I was doing. Need to review what I did and what didn't work. But I think if you compile a Swift with plain `swiftc`, it'll pickup the .so's and then won't run. Or sth like this, not sure.

[2017-11-11 00:40] helje5 commented on #56
I think the core problem is that swift.org provides no ARM packages. So either you compile Swift from the source (which I can do in Docker), or you pickup a tarball from somewhere non-standard. Not sure what we would want here.

[2017-11-11 01:10] swizzlr commented on #56
@helje5 If you're ok with maintaining them. Can you define a Dockerfile that compiles it?

[2017-11-11 03:28] swizzlr commented on #75
no worries, let us know what we can do to help if the need remains with the latest version.

[2017-11-14 15:26] florianreinhart opened #98 "Missing tzdata package"
`TimeZone(identifier: "Europe/Paris")` returns `nil` and `TimeZone.knownTimeZoneIdentifiers` returns an empty array.

When I manually installed the tzdata apt package both worked as expected.

I can create a PR to fix this. Just let me know.

[2017-11-14 16:31] swizzlr commented on #98
@florianreinhart is this a requirement of Foundation? If so, please do so! Could you also find out if this is documented anywhere? I want to ensure we're following this to the letter.

[2017-11-14 16:34] swizzlr opened #99 "Tests"
These are required as an official image, and currently exist out of tree, for example: https://github.com/docker-library/official-images/tree/master/test/tests/swift-hello-world

We should bring this into this repo, and have CI check them.

We should also add a test for the timezone support as evidenced by #98.

[2017-11-14 16:58] florianreinhart commented on #98
I have not found any documentation about this. However, I looked through the Foundation code:

`TimeZone.knownTimeZoneIdentifiers` just calls through to `NSTimeZone.knownTimeZoneIdentifiers`, which in turn uses Core Foundation's `CFTimeZoneCopyKnownNames()`.

 Core Foundation loads the time zone information from `/usr/share/zoneinfo/zone.tab` on Linux, see:

- https://github.com/apple/swift-coreli

[2017-11-14 17:19] florianreinhart commented on #98
I found some documentation:

- https://bugs.swift.org/browse/SR-4921
- https://github.com/apple/swift/blob/master/README.md#linux

I'll create a PR to install tzdata.

[2017-11-14 17:37] #98 closed, assigned to nobody

[2017-11-21 15:58] CrowdHailer commented on #80
Hi,

Can if this issue is understood can the docs be updated? I have wasted a bunch of time with the following
[code]

[2017-11-22 17:27] swizzlr commented on #80
Yeah, we need to add the other capabilities required, as documented by Tianon.

[2017-11-24 00:38] MrTheSaw commented on #87
BTW, this work around also solved my problem of having import SwiftGlibc fail.

[2017-11-25 08:34] Khalian commented on #99
There are two ways to solve this problem.

1. Shippable supports on_success ci step. I can technically jam the bash script there. This has the obvious advantage of decoupling the build and the test, thereby making shippable optimize the build better. The obvious drawback is we would have to rewrite this if we wanna move to travis or circle CI tomorrow.

2. COPY the files and run cmd and check the

[2017-11-25 08:40] Khalian commented on #96
Its kind of like doing a global substitution in vim via %s/$SWIFT_PROPERTY/actualvalue/g. But you are using sed (streaming ed). Slightly different syntax and more command line friendly. -e stands for edit, s stands for substitute v\ is for everywhere. You are replacing the properties SWIFT_VERSION and SWIFT_BRANCH with the required values. And you seem to have done this twice (once for 3.1 and onc

[2017-11-25 08:42] Khalian commented on #91
Shouldnt this suggestion be a separate project? Any all fattening should be different github repos with the required libs added on top of this image. Or is this some special kind of swift install that comes with openssl packages?

[2017-11-25 08:44] Khalian commented on #90
Is this multiple Dockerfiles under this repo or multiple github projects under one org ? I would prefer the latter.

[2017-11-26 16:42] swizzlr commented on #90
@Khalian Multiple Dockerfiles in this repo since that's how most other distros do it. I know it's maybe a bit less simple but it allows us to do templating, and unify work in one place.

I'll be open to changing that at a later date iff it proves unwieldy, but the nodejs docker image manages it that way, and they've been doing this far longer than we have.

[2017-11-26 16:43] swizzlr commented on #91
Re my comment in #90, these will be exposed under separate tags, but will be a part of this project.

[2017-11-26 16:47] swizzlr commented on #99
Both good options – the third is to use `bashbrew`, which is what the official docker library uses, and we use when PRing our work. For simplicity's sake, that might make more sense. See https://github.com/docker-library/official-images/tree/master/test for more info

[2017-11-26 16:48] swizzlr commented on #96
Yep, that's it – this is just a note that we need to do it at some point.

[2017-11-29 22:58] andradei opened #102 "Can't pull repositories from github via HTTPS"
I'm trying to compile my project on the swift:4.0.2 image and get the following errors:

Notice the git version at the end is 2.7.4, the newest one as of now is 2.15.x, I don't know if that's the issue.

[code]

## Package.swift

[code]

[2017-11-29 23:11] andradei commented on #79
I'm getting the error still.

git is in version 2.7.4 inside the container btw (I don't know if that contributes to the issue)

# Dockerfile

[code]

# Error

[code]

[2017-11-30 14:44] swizzlr commented on #79
@andradei What does your package.swift say?

[2017-11-30 14:45] swizzlr commented on #102
Could you update with your Package.swift?

[2017-11-30 16:36] florianreinhart commented on #102
This sounds like a connection or DNS issue: `Could not resolve host: github.com`.

Can you run `curl "https://github.com"` inside the container?

[2017-11-30 19:00] andradei commented on #79
@swizzlr This is my Package.swift

[code]

[2017-11-30 19:03] swizzlr commented on #79
What happens if you drop the `.git` suffix?

[2017-11-30 19:06] andradei commented on #102
@swizzlr I updated the OP with Package.swift. Thank you for helping.

@florianreinhart `curl` fails for github, google, etc., so it is a container issue. This problem, however, arises only on my AWS EC2 Ubuntu 16.04 instance. I can run `curl` successfully on my local machine (macOS). So would this be related to Ubuntu (or a different version of Docker)?

[2017-11-30 19:10] swizzlr commented on #102
@andradei Have you checked your EC2 firewall rules? Can you curl from outside Docker on that machine? What networks have you attached to the container in Docker?

This works on my and many other machines, so I think it's something to do with how you're running the container, not the image itself.

[2017-11-30 19:28] andradei commented on #102
@swizzlr Firewall is letting 443 traffic in/out. I can `curl` from outside of Docker on that instance. No networks attached, unless docker does it automatically.

I run the container with `docker run -ti swift:4.0.2 /bin/sh` and try to `swift build -c release --static-swift-stdlib` inside it.

[2017-11-30 19:30] andradei commented on #79
@swizzlr Same thing.

I'm linking issue #102, since we are discussing the same thing. Let me know if I should close it or take the conversation there.

[2017-11-30 19:45] swizzlr commented on #102
This works on my Mac, Docker 17.09
[code]

Can you verify the same for yourself?

[2017-11-30 19:59] andradei commented on #102
I upgraded my AWS docker engine to latest stable (17.09.0-ce). It works now. Now I'm having another problem in the compilation step, which is an issue for another repo.

Thanks for helping me narrow it down. I really appreciate it.

[2017-11-30 19:59] #102 closed, assigned to nobody

[2017-11-30 20:00] andradei commented on #79
My issue was to update Docker engine to 17.09.0-ce.

Thank you for your time.

[2017-12-21 05:13] crspybits opened #105 "latest"
It seems that `swiftdocker/swift:latest` is still pointing to 4.0.2. I expected it to be pointing to 4.0.3.

Thanks!

[2017-12-23 16:40] swizzlr commented on #105
Whoops, looks like we didn't add back the latest tag in the automatic build.

I've added it now and triggered another.

In the meantime, FROM swift:latest should point to 4.0.3.

Let me know if the build works and we can close it.

[2017-12-23 19:23] crspybits commented on #105
Just tried this, and get:

Step 1/5 : FROM swiftdocker/swift:4.0.3
manifest for swiftdocker/swift:4.0.3 not found

If I use `FROM swiftdocker/swift:latest`, my docker build doesn't seem to pull down anything new...

I get:

MacBook-Pro:Building chris$ docker build -t swift-ubuntu:latest .
Sending build context to Docker daemon  15.87kB
Step 1/5 : FROM swiftdocker/swift:latest
 ---> 45b245d4bc04
St

[2017-12-25 23:18] swizzlr commented on #105
You'll need to smash the cache by running `docker build --no-cache`. Looks like we need to tag this.

However, in this case I would strongly recommend you use the official distribution: `FROM swift:4.0.3`

[2018-02-09 17:43] masters3d opened #106 "Any chance of getting Dev snapshots?"
Any plans to include development snapshots like `Swift 4.1 Development` ?

This would be very helpful in running tests against future versions.

[2018-02-09 17:46] masters3d commented on #106
For reference: https://hub.docker.com/r/norionomura/swift/

[2018-02-13 15:11] swizzlr commented on #106
We would hugely welcome contributed dev snapshots! Just open a PR!

[2018-02-13 15:12] #105 closed, assigned to nobody

[2018-02-13 20:44] masters3d commented on #106
What do you think @norio-nomura ? I use your snapshots at
https://github.com/norio-nomura/docker-swift which I love for TravisCI.  No sure if you would be interested in contributing here but I just wanted to ask since you are already doing all the work.

[2018-02-19 17:03] Sharom commented on #106
It would be very useful to have tag `dev` with night build of development release.
It's very convenient for continuous integration of packages, especially for libraries.

[2018-02-19 17:20] masters3d commented on #106
Can it be automated? Or perhaps the swift project can vend them as part of their build process. Does anybody know of that part is open source?

[2018-02-19 23:26] swizzlr commented on #106
@masters3d we would love for it to be a part of the Swift CI.

[2018-02-20 20:47] masters3d commented on #106
Closing in favor of https://github.com/swiftdocker/docker-swift/issues/55

[2018-02-20 20:47] #106 closed, assigned to nobody

[2018-03-31 04:03] john9631 commented on #87
Still present (Linux Mint 18.3 (U 16.04 based)) so added alias to my .zshrc

`alias swift='swift -I ~/.local/usr/lib/swift/clang/include'`

But given that virtually everything I tried that relied on it didn't work ... I'd say this is not ready on Linux.  I might look again in 2019.

[2018-04-04 22:03] andradei opened #111 "Automated builds"
Is there a way to make the creation of new images, based on new versions, automated? Something that checks for newer versions of Swift once a day and builds new images as needed?

[2018-04-05 06:39] florianreinhart commented on #111
See #55.

[2018-04-05 16:04] andradei commented on #111
I even commented there last year! Sorry for the duplicate. Closing this.

[2018-04-05 16:04] #111 closed, assigned to nobody

[2018-04-30 19:02] florianreinhart commented on #55
Docker’s guidelines for official images advise against creating images from CI builds:

https://github.com/docker-library/official-images#library-definition-files

Nevertheless, it’d be great to test current development snapshots of a specific version branch, e.g. Swift 4.2. Maybe these builds could be considered “release candidates”.

Can someone check this with the official images maintainers?

[2018-05-12 02:13] norio-nomura commented on #55
FYI, my repository([norionomura/swift](https://hub.docker.com/r/norionomura/swift/)) has been automated for Dockerfile update and image creation by using [CircleCI 's scheduled workflow](https://circleci.com/gh/norio-nomura/workflows/docker-swift).

[2018-05-14 18:52] andradei commented on #55
@florianreinhart If I understand that document correctly, _regular schedules_ aren't appropriate. How about some sort of automated script that checks whether a new version was released (not new commits, but full-fledged releases) and builds a new docker image?

[2018-05-14 19:06] florianreinhart commented on #55
It's OK to automatically generate a new image whenever a new Swift version is released.

I am just not sure about the Swift development releases generated from a development branch like [swift-4.2-branch](https://github.com/apple/swift/tree/swift-4.2-branch). These are generated by Swift CI almost every day.

[2018-05-21 00:21] dsperling commented on #90
I have created a _workaround_ solution for a `slim` image.  I wanted to share it with others to get feedback.
Here is a minimal Dockerfile for **Hello World**:
[code]
This produces an image of 1.35 GB.

Using the multi-stage build feature, we can derive our application image from the same `ubuntu:16.04` base image as `swift:4.1`.  The Dockerfile essentially copies most libraries used by a Swift ap

[2018-06-15 07:28] florianreinhart opened #114 "Swift 4.2 development snapshots"
It would be great to have Swift Docker images for Swift 4.2 development snapshots. I think it's good enough to update them manually every or every other week to the latest Swift 4.2 snapshot.

I could update the 4.2 image regularly in this repo. However, I don't know what's needed to merge them into the official Docker images repo.

[2018-07-12 10:50] lag-linaro opened #116 "Support for ARM64v8"
Now that Docker's Official Images support multiple architectures would you guys be interested to enable this project for ARM64v8?

[2018-07-17 05:57] odidev commented on #116
Is there anything going in this direction?

I am trying to compile Swift on arm64, but I am getting a lot of errors.
I managed to resolve most of them, but still, it would be great to get some assistance.

In addition, it takes a hell lot of time to compile Swift and then face errors, making me do it in cycles.

[2018-07-18 04:35] odidev commented on #116
Finally, I have managed to compile ```SWIFT-4.2 ``` successfully on my arm64v8 board, certainly with some modifications.
Now I am wondering whether should I create a tarball of output package and use it in dockerfile or there should be some other approach.

[2018-07-18 08:29] florianreinhart commented on #116
@odidev Do the tests pass? There seem to be several issues with Swift 4 on ARM.

https://bugs.swift.org/browse/SR-5845
https://bugs.swift.org/browse/SR-5846

[2018-07-26 10:23] odidev commented on #116
I am able to build Swift just in ```release mode```, where test cases are not coming into the picture.
Swift is not working for me in ```test mode```, so not able to pass test cases.

I think we can go ahead at higher pace if somehow I can get useful guidance to resolve pending issues.
I am ready to do experimental changes too, as my goal to see Swift in the official list of ```arm64v8```.

Regard

[2018-08-11 14:13] florianreinhart commented on #114
Swift 4.2 is now in ["final convergence"](https://forums.swift.org/t/swift-4-2-in-final-convergence-swift-4-2-branch-open-for-post-4-2-0-changes/15128) and [convergence snapshots](https://swift.org/download/#swift-42-convergence-snapshots) are available for download.

In addition, Swift 4.2 now supports Ubuntu 18.04. I think we should use Ubuntu 18.04 as base image for Swift 4.2 or at least provid

[2018-08-17 06:13] odidev commented on #116
Hi,

I am actively tracking Swift project for support over ```ARM64v8``` architecture.
Recently I observed that there are other communities which are working aggressively to enhance Swift for ARM.

This is the link of deb which is being maintained by them:
https://packagecloud.io/swift-arm/debian/packages/ubuntu/xenial/swift4_4.1.1_arm64.deb

I have used this link in my swift-docker to get proper

[2018-09-18 17:28] #114 closed, assigned to nobody

[2018-10-15 10:04] lag-linaro commented on #116
Looks as though ARM support for Swift is really progressing.

Would  you guys consider pulling in packages from @futurejones or Works-On-ARM to secure ARM(64) support?

[2018-10-16 23:52] gperdomor opened #118 "Use ubuntu 18.04 to build 4.2 images"
Please use ubuntu 18.04 in Swift 4.2 images :D

[2018-10-17 04:16] odidev commented on #116
This is an update to what I have observed with the latest Swift code base.
The current ```Master Branch``` of Swift is working pretty well over ARM64 architecture as well.

This has been validated by compiling the Swift code in ```release``` mode and then using the interactive shell for running normal programs.
Earlier I was getting errors over the shell but now those are resolved in the current c

[2018-10-17 07:12] lag-linaro commented on #116
Has anyone spoken to the guys over at Swift, to see if they are keen to publish ARM64 packages?

[2018-10-17 07:15] odidev commented on #116
Hi @lag-linaro
Well, I don't have any direct links with Swift community for sure.

Can you please check it internally, please?

Regards,

[2018-10-17 07:47] lag-linaro commented on #116
@odidev I can see that **you** do not have links, but maybe one of the other guys here do.

[2018-10-27 22:35] fekerr commented on #9
I get this:

docker run --cap-add sys_ptrace -it --rm swift swift
error: failed to launch REPL process: process launch failed: 'A' packet returned an error: 8

I see from above I should perhaps open a new issue?

[2018-10-27 22:43] fekerr opened #119 "README for REPL example doesn't work"
docker run --cap-add sys_ptrace -it --rm swift swift
error: failed to launch REPL process: process launch failed: 'A' packet returned an error: 8

[2018-10-28 12:17] tianon commented on #9
@fekerr it likely also needs a slightly customised seccomp profile, as I noted above (https://github.com/swiftdocker/docker-swift/issues/9#issuecomment-328224511)

[2018-11-07 15:32] ianpartridge commented on #118
I think we should offer all the flavours of Ubuntu that Swift supports, including 18.04 🙂

[2018-11-08 13:38] gperdomor commented on #118
@ianpartridge even better

[2018-11-20 13:26] kondaurovDev opened #122 "4.2 contains swift 4.2.1"
Hello! Is that correct? I run swift:4.2 but get version 4.2.1 instead of 4.2?

[2018-12-12 23:32] shahmishal commented on #122
@kondaurovDev We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:32] shahmishal commented on #119
@fekerr We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:33] shahmishal commented on #118
@gperdomor We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:34] shahmishal commented on #116
@lag-linaro We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:36] shahmishal commented on #99
@swizzlr We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:36] shahmishal commented on #96
@swizzlr We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:39] shahmishal commented on #9
@swizzlr We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:39] shahmishal commented on #47
@swizzlr We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:40] shahmishal commented on #48
@swizzlr We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:40] shahmishal commented on #52
@swizzlr We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:41] shahmishal commented on #55
@swizzlr We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:41] shahmishal commented on #56
@krystiansliwa We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:42] shahmishal commented on #75
@helje5 We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:44] shahmishal commented on #80
@rayfix We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:44] shahmishal commented on #87
@jeremyblalock We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:45] shahmishal commented on #89
@swizzlr We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:45] shahmishal commented on #90
@swizzlr We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-12 23:46] shahmishal commented on #91
@swizzlr We are moving Swift Docker issues to [https://bugs.swift.org](https://bugs.swift.org) Component: Docker. Can you please file your issue on bugs.swift.org?

We are planning on closing GitHub swift-docker issues on Dec 20th, 2018 (PST).

[2018-12-13 07:59] swift-ci opened #297 "[SR-9500] AArch64 (ARM64, ARMv8)) Support"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9500      |
   |Radar             | None         |
   |Original Reporter | lag-linaro (JIRA User)      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Vo

[2018-12-13 09:22] ianpartridge commented on #122
Yes it is correct - we support the latest release of each minor version of Swift.

[2018-12-13 09:22] #122 closed, assigned to nobody

[2018-12-15 01:59] swift-ci opened #296 "[SR-9523] Separate dev/runtime images"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9523      |
   |Radar             | None         |
   |Original Reporter | kiliankoe (JIRA User)      |
   |Type              | New Feature    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2019-01-09 03:33] swift-ci opened #295 "[SR-9625] Crash caused by complex typealias"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9625      |
   |Radar             | None         |
   |Original Reporter | sanch (JIRA User)      |
   |Type              | Bug    |

Attachment: [Download](https://user-images.githubusercontent.com/2727770/164963086-d836ecfd-9d74-417f-8396-255425003bfe.gz)

<details>
  <summary>Environment<

[2019-01-09 17:13] belkadan commented on #295
We don't have access to view that GitHub repo. Can you make it public?

More relevant crash line:

\> for getter for justRequest at /perfectbuild/.build/checkouts/FirebaseSwift.git-6480259082665391381/Sources/FirebaseSwift/HTTPMethod+justRequest.swift:15:9

[2019-01-09 17:33] swift-ci commented on #295
**Comment by Matt Sanford (JIRA)**

   @belkadan Ah, sorry about that. Should be available now

[2019-01-11 03:42] swift-ci commented on #296
**Comment by Michael Bates (JIRA)**

   Would this be any different from using multi-phase docker builds? i.e., couldn't you build your project in one phase using\`FROM swift\`, then copy the executable(s) to a the final image using \`FROM ubuntu:16.04\`

[code]

The output of this would be a basic ubuntu image with just the \`app_executable\` binary.

[2019-01-15 04:24] 304164084 opened #127 "hello！dear， I have a problem in objective-c please help me !!!!!!!!!!!!!!"
in oc, i get a problem in UICollectionView. When the collectionView item size is a constant. eg CGSizeMake(100, 45). in ar language(阿拉伯语). the collectionView will auto reverse its cells. but if the cell's size is not a constant, it will not auto adapt. I want know is there any property can close the feature?

大哥你好， 我在Objective-C中的UIKit框架的 UICollectionView中遇到了问题。在阿拉伯语环境下， 当cell的 size 为常量时，系统会自动适配(c

[2019-01-15 09:59] ianpartridge commented on #127
Hi, I'm afraid you have posted your question in the wrong place.  This repository is for discussion of Swift Docker images.

You should probably post your UICollectionView question at https://developer.apple.com/devforums/

[2019-01-15 09:59] #127 closed, assigned to nobody

[2019-01-23 15:54] swift-ci commented on #296
**Comment by Kilian Koeltzsch (JIRA)**

   mklbtz (JIRA User) In theory, yes, that's exactly what I was looking for. A base ubuntu image however unfortunately is not enough to run a swift binary. I haven't played with this for a small while, but a "runtime image" tended to look more like the following.

[code]

[2019-02-02 01:13] wangkuiyi opened #129 "Cannot build with -static-stdlib"
I ran the :4.2.1 tag

[code]

to build the following Swift program `a.swift`

[code]

with the command

[code]

It complains that

[code]

[2019-02-14 12:35] swift-ci opened #294 "[SR-9924] Add Dockerfiles for all Linux supported target platforms"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-9924      |
   |Radar             | None         |
   |Original Reporter | sja26 (JIRA User)      |
   |Type              | Task    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2019-03-04 14:19] grahamburgsma opened #293 "[SR-10039] Docker Hub not updated for 4.2.3"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10039      |
   |Radar             | None         |
   |Original Reporter | @grahamburgsma      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |

[2019-03-04 17:36] grahamburgsma commented on #293
@weissi pinging you here since you tagged the GitHub release and posted the announcement.

[2019-03-04 17:38] weissi commented on #293
Thanks @grahamburgsma, my PR (<https://github.com/apple/swift-docker/pull/132)> to update to 4.2.3 was actually merged but I'm unsure what exactly triggers the Docker Hub update. @shahmishal?

[2019-03-06 00:01] shahmishal commented on #293
Swift 4.2.3 is now available on [https://hub.docker.com/\_/swift](https://t.co/cvWww0IBXP)

<https://twitter.com/mishaldshah/status/1103082532839419905>

[2019-03-06 00:01] #293 closed, assigned to shahmishal

[2019-03-08 11:30] TheIndifferent opened #133 "Please add "distroless" images to simplify distribution of Swift apps"
Current images contain all the development libraries, headers and compilers. This is not a good base to distribute Swift applications.

Please add the image variant that can be used as a base image to run applications, that will have only necessary runtime dependencies. "Distroless" concept seem to be the most effective for that:

https://github.com/GoogleContainerTools/distroless

[2019-03-08 11:59] ianpartridge commented on #133
Agreed, but the images are not intended to be a base for distributing Swift applications. They are a "shop front" for Swift, aimed at newcomers to the language who want to explore building apps and running the REPL.

I agree that it would be great to have a "runtime" image, but I think Swift's runtime requirements are currently quite considerable, unfortunately. I doubt that https://github.com/Goo

[2019-03-08 12:54] TheIndifferent commented on #133
Thanx for the fast reponse!

And that is not something on TODO list to provide runtime base images? I would imagine that Swift Server development would definitely benefit from it.

And thanx for the link! Might help me build my own minimal image 😆

[2019-03-08 13:21] ianpartridge commented on #133
Yes it's definitely on the TODO list 🙂

I would also like images based on Debian (rather than Ubuntu).

[2019-03-08 13:30] TheIndifferent commented on #133
Going for distroless-style images, from personal experience it is much easier to use `rpm`-based distros, because unlike `deb` they are easier to relocate, to create rootfs with all the dependencies, for example openSUSE:
[code]
Then in `Dockerfile` it will be as easy as
[code]

So that might be a good enough solution at least in short term.

[2019-03-08 13:34] ianpartridge commented on #133
Interesting! I'm not familiar with zypper. Can I suggest you start a discussion on the Docker section of the Swift forums? https://forums.swift.org/c/server/docker

[2019-03-08 13:36] TheIndifferent commented on #133
Ok, I will try to come up with something to actually show and not only talk 😆

[2019-03-09 08:47] TheIndifferent commented on #133
It seems like there are no quality RPM packages available for Swift, so this might take much longer than I expected.

I did a different experiment, seems like 18.04 version of ubuntu container is supposed to be the smallest one. It is still nearing 250MB with all the deps and Swift runtime libs, but cannot compare it to 700MB of full image:
https://github.com/TheIndifferent/timestampname-swift/blo

[2019-03-09 09:21] ianpartridge commented on #133
Yes I think this is the approach to take with the Swift 5 images.

[2019-03-26 14:35] stephencelis opened #292 "[SR-10178] Make swift-docker a bit nicer"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10178      |
   |Radar             | None         |
   |Original Reporter | @stephencelis      |
   |Type              | Improvement    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Vo

[2019-03-26 14:35] weissi commented on #292
CC ianpartridge (JIRA User)

[2019-03-26 17:16] shahmishal commented on #292
Pull request to add Swift 5.0 Dockerfiles was created around the same time Swift 5.0 released yesterday. (<https://github.com/apple/swift-docker/pull/134>)

Once the PR has been reviewed, I will create another PR on <https://github.com/docker-library/official-images> to be added as official docker images. Updating the official docker page can take update 24hrs because it's not controlled by Swift

[2019-03-26 17:46] stephencelis commented on #292
@shahmishal Should I open a separate issue for the second point? It'd be nice to be able to use snapshots as they're released rather than have to wait for official version bumps.

[2019-04-06 20:54] swift-ci opened #291 "[SR-10328] static-executable hits undefined references on Linux"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10328      |
   |Radar             | None         |
   |Original Reporter | frol (JIRA User)      |
   |Type              | Bug    |
   |Status            | Resolved        |
   |Resolution        | Done    |

<details>
  <summary>Environment</summary>

Docker image \`swift:latest\` (Ubuntu

[2019-04-07 10:11] swift-ci commented on #291
**Comment by Vlad Frolov (JIRA)**

   I have just found this PR: <https://github.com/apple/swift/pull/15183>

It seems it should fix the issue properly.

[2019-04-08 17:48] belkadan commented on #291
cc @spevans, @compnerd

[2019-04-10 12:03] swift-ci opened #290 "[SR-10439] Ship symbolicate-linux-fatal"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10439      |
   |Radar             | None         |
   |Original Reporter | ianpartridge (JIRA User)      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|

[2019-04-10 12:04] swift-ci commented on #290
**Comment by Ian Partridge (JIRA)**

   If someone can point me at where the Linux .tar.gz package is created I can have a go at doing this.

[2019-04-10 17:28] belkadan commented on #290
I feel a little weird shipping general symbolication utilities as part of Swift. Shouldn't that be provided by the platform? On the other hand, maybe we can consider it part of LLDB.

[2019-04-10 17:31] swift-ci commented on #290
**Comment by Ian Partridge (JIRA)**

   Yeah we already ship LLDB (and the LLDB Python module) so I see this as part of the same story.

[2019-04-18 09:37] swift-ci commented on #290
**Comment by Ian Partridge (JIRA)**

   @shahmishal Can you point me at where the Linux .tar.gz is created? Is the packaging OSS?

[2019-04-19 03:42] shahmishal commented on #290
ianpartridge (JIRA User) You can use <https://github.com/apple/swift/blob/master/utils/build-toolchain> to build the toolchain for macOS and Linux.

[2019-04-20 18:00] CarlitosDroid commented on #9
In the same way as @LoiKos and @andradei
I had to add **`--privileged`**
`docker run --privileged --cap-add sys_ptrace -it --rm swift:5.0-xenial swift`
I have Docker running on macOS Mojave. We are in 2019 and they still don't update the README in docker Hub.

[2019-04-20 18:15] tianon commented on #9
Adding `--privileged` is a huge hammer with broad security implications.  What should be documented is the specific security features that need to be disabled, add I already noted above: https://github.com/apple/swift-docker/issues/9#issuecomment-328224511

[2019-04-24 16:17] dankorotin opened #138 "Update to Swift 5.0.1 breaks builds on Ubuntu 18/04"
This commit breaks builds on Ubuntu 18.04: https://github.com/apple/swift-docker/commit/724a1d10c12da1006c1433da4e521894aaf14ef0#diff-a3be029562676b6e61a37c312894681e Everything worked fine with the previous release of this Dockerfile.

Somehow it got released despite failing tests on this version of OS: https://ci.swift.org/job/swift-docker-PR-linux/27/console#console-section-2

STR: Use this ima

[2019-04-24 16:28] ianpartridge commented on #138
The removal of certain packages was intentional in https://github.com/apple/swift-docker/commit/966cfdef637e319d28b681e42bdb905b070bf338.

The Swift images are intended to contain the minimum set of packages needed to build and run Swift programs.  zlib and OpenSSL development headers are not required by every Swift program - as you can see they are dependencies of SwiftNIO, not Swift.

Please add

[2019-04-24 16:33] dankorotin commented on #138
Thanks!

[2019-04-24 16:40] ianpartridge commented on #138
You're welcome.  Sorry for the inconvenience but this is worth it for keeping the images as slim as possible for all users.

[2019-04-24 16:40] #138 closed, assigned to nobody

[2019-04-24 17:04] dankorotin commented on #138
Just in case someone else runs into the same problem with SwiftNIO dependencies (mine was a part of a Vapor app): all you need is `apt-get install -y libssl-dev libicu-dev`.

[2019-04-25 09:04] valeriomazzeo commented on #138
Using a Vapor 3 project that uses SwiftNIO I had to install only `libssl-dev`.

[2019-04-25 09:24] ianpartridge commented on #118
We aren't going to release any more Swift 4.2 images. We offer 16.04 and 18.04 for Swift 5.

[2019-04-25 09:24] #118 closed, assigned to nobody

[2019-04-25 09:25] ianpartridge commented on #87
This issue is very old - please reopen if it's still a problem.

[2019-04-25 09:25] #87 closed, assigned to nobody

[2019-04-25 09:25] ianpartridge commented on #56
This issue is very old - please reopen if it's still a problem.

[2019-04-25 09:25] #56 closed, assigned to nobody

[2019-04-25 09:26] ianpartridge commented on #47
This issue is very old - please reopen if it's still a problem.

[2019-04-25 09:26] #47 closed, assigned to nobody

[2019-04-25 09:26] ianpartridge commented on #48
This issue is very old - please reopen if it's still a problem.

[2019-04-25 09:26] #48 closed, assigned to nobody

[2019-04-25 09:26] #52 closed, assigned to nobody

[2019-04-25 09:26] #55 closed, assigned to nobody

[2019-04-25 09:27] #75 closed, assigned to nobody

[2019-04-25 09:27] #80 closed, assigned to nobody

[2019-04-25 09:27] #89 closed, assigned to swizzlr

[2019-04-25 09:28] #90 closed, assigned to nobody

[2019-04-25 09:32] #91 closed, assigned to nobody

[2019-04-25 09:32] #96 closed, assigned to nobody

[2019-04-25 09:34] #99 closed, assigned to nobody

[2019-04-25 09:34] #116 closed, assigned to nobody

[2019-04-25 09:34] #119 closed, assigned to nobody

[2019-04-25 09:39] ianpartridge commented on #129
I tested this with the `swift:5.0` image and it worked:

[code]

We are not going to release any more 4.2 images so I'm closing this. Thanks for opening it.

[2019-04-25 09:39] #129 closed, assigned to nobody

[2019-04-25 09:40] ianpartridge commented on #133
Closing this because true distroless images are not feasible in the short term. We're working on `slim`/`runtime` images at the moment though.

[2019-04-25 09:40] #133 closed, assigned to nobody

[2019-04-25 09:42] ianpartridge commented on #138
Thanks for the info.  I think when Vapor 4 is released you won't even need that, because SwiftNIO 2 does not require a system `libssl`.

[2019-04-25 12:45] tanner0101 commented on #138
Vapor 4 still needs OpenSSL for crypto. Adding these two packages gets things working for me:
`libssl-dev zlib1g-dev`

[2019-04-25 12:54] ianpartridge commented on #138
Ah cool, thanks Tanner.

[2019-05-01 12:51] swift-ci opened #289 "[SR-10591] Swift 5.0.1 docker images prevent Python install"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10591      |
   |Radar             | None         |
   |Original Reporter | djones6 (JIRA User)      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Vote

[2019-05-02 10:38] swift-ci commented on #289
**Comment by Ian Partridge (JIRA)**

   Duplicate of <https://bugs.swift.org/browse/SR-10344>

[2019-05-03 15:28] TaborKelly opened #139 "Can not install python2.7-minimal package on swift:5.0.1-bionic"
I can not use this image to install the `python2.7-minimal` package which is needed by (among other things) [Node.js](https://github.com/nodesource/distributions):

[code]

This works on `ubuntu:bionic`.

[2019-06-03 08:54] MihaelIsaev commented on #138
What about macOS 10.14.5 (fresh install) with Swift 5.0.1, how to fix `'openssl/conf.h' file not found` on it?

[2019-06-03 09:39] MihaelIsaev commented on #138
Hahah, fixed just by regenerating xcodeproj 🙂 the problem appeared just because I copied project from another machine instead of doing `git clone && swift package generate-xcodeproj`

[2019-06-04 07:56] shahmishal commented on #294
Docker images for Ubuntu 16.04 and 18.04 are available on  <https://hub.docker.com/_/swift> now.

[2019-06-04 07:56] #294 closed, assigned to nobody

[2019-06-04 08:25] shahmishal opened #288 "[SR-10827] Add test suite to swift-docker"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-10827      |
   |Radar             | None         |
   |Original Reporter | @shahmishal      |
   |Type              | Improvement    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Vote

[2019-06-08 23:44] wlisac commented on #139
I'm encountering a similar issue. It looks like it may be related to this: https://bugs.launchpad.net/ubuntu/+source/python2.7/+bug/1775459

[2019-06-10 20:35] ianpartridge commented on #139
This is https://bugs.swift.org/browse/SR-10344 - it's really annoying but I'm afraid I haven't got to the bottom of it.

https://forums.swift.org/t/lldb-install-precludes-installing-python-in-image/24040/2?u=ianpartridge is as far as I got...

[2019-06-13 11:04] swift-ci commented on #297
**Comment by Lee (JIRA)**

   Any update on this?

[2019-07-01 03:11] VineFiner opened #142 "swift:slim not found"
[code]

[code]

[2019-07-01 08:45] ianpartridge commented on #142
Slim images are not available on Docker Hub yet. We plan to make them available with the next release of Swift.

For now, you can build the slim Dockerfile in this repo yourself. Thanks for your patience!

[2019-07-01 08:45] #142 closed, assigned to nobody

[2019-07-06 22:41] kirilltitov opened #143 "Silent precondition fail in release mode"
I have a `docker-compose` setup with Swift 5.0.1 containers in it. I've noticed strange silent crashes with 132 exit code, but no preceding error messages. It turned out that some unsafe operation (that's on me) did a `precondition` which failed, but didn't show up in logs at all, which is highly frustrating, as you might imagine :)

Just create a simple executable package, put

[code]

in `main.s

[2019-07-07 13:43] kirilltitov commented on #143
Goddamit. This is really stupid: https://github.com/apple/swift/blob/master/stdlib/public/core/Assert.swift#L83

Precondition is showing error actually only in debug mode:

It's not a Docker image problem.

I genuinely don't understand why it omits the message in release builds, what is the possible reason for it. This one tiny detail just burned 7+ hours of my life.

[2019-07-07 13:43] #143 closed, assigned to ianpartridge

[2019-07-07 13:48] kirilltitov commented on #143
I guess I should implement my own `precondition` func with `guard condition else fatalError` without stupid build mode checks. Man I'm frustrated.

[2019-07-08 10:28] ianpartridge commented on #143
Sorry you had a bad experience here. You might like to open a `bugs.swift.org` asking why the message isn't printed in release mode.

[2019-07-11 19:32] iheart2code commented on #47
Looks like the equivalent ticket might be [SR-4632](https://bugs.swift.org/browse/SR-4632).

[2019-08-13 11:02] lag-linaro commented on #116
Is there anywhere I can place issues which aren't going to be ignored for 9 months?

Ref: https://bugs.swift.org/browse/SR-9500

[2019-08-13 11:44] swift-ci commented on #297
**Comment by Lee (JIRA)**

   @futurejones do you know if this is now resolved?

[2019-08-13 12:02] swift-ci commented on #297
**Comment by Lee (JIRA)**

   Still nothing architecture specific at: <https://swift.org/download/#releases>

Is this planned at all?

[2019-08-16 06:40] wlisac commented on #116
@lag-linaro I recently brought this topic up on the forums.

https://forums.swift.org/t/swift-docker-images-for-arm-raspberry-pi-etc/24777

[2019-10-03 17:55] 6d44b555-049a-4a81-86f1-5537312bcad6 opened #287 "[SR-11566] can't install python in the swift docker image"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-11566      |
   |Radar             | None         |
   |Original Reporter | @kevints      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2019-10-04 17:45] belkadan commented on #287
@shahmishal, is this for you?

[2019-10-23 09:37] swift-ci commented on #287
**Comment by David Jones (JIRA)**

   I think this is a duplicate of <https://bugs.swift.org/browse/SR-10344>

[2020-03-18 18:38] TheJoYo opened #160 "Every build rebuilds all dependencies"
The container is building everything out of `/tmp/` in the container which means it's rebuilding all of the dependencies with every build.

Rebuilding something like [apple\swift-crypto](https://github.com/apple/swift-crypto) takes a good 5 minutes when the prebuilt objects are sitting in `.build/`.

This includes test builds.

[2020-03-20 16:17] TheJoYo commented on #160
This appears to happen with `build --configuration` but not when `swift build` is ran with defaults.
I was incorrect about test builds, objects are reused following successful builds.

[2020-03-20 16:17] #160 closed, assigned to nobody

[2020-03-25 01:56] twodayslate opened #162 "Publish 5.2"
With the official release of [Swift 5.2](https://swift.org/blog/swift-5-2-released/) the docker image should also be pushed.

[2020-03-26 19:42] waterskier2007 commented on #162
@hamin, @swizzlr, and @Khalian are there plans to get this image in docker hub soon?

edit: apologies if I tagged the wrong users, I consulted project.md

[2020-03-26 20:09] waterskier2007 commented on #162
It looks like the image has been pushed, however when trying to pull, I am receiving

From searching the error message, it sounds like it may be an issue that resolves itself given some time after the image has been created

[2020-03-27 11:00] mattt commented on #162
@waterskier2007 I was experiencing this as well, but this appears to now be resolved (at least on GitHub Actions)

[2020-03-27 11:38] waterskier2007 commented on #162
resolved on my end as well

[2020-03-27 16:05] #162 closed, assigned to nobody

[2020-04-17 02:46] waterskier2007 opened #164 "swift 5.2.2 images"
Given that swift 5.2.2 has been released, there should be images available for the release.

[2020-04-21 14:11] waterskier2007 commented on #164
closing as these have been pushed

[2020-04-21 14:11] #164 closed, assigned to nobody

[2020-05-29 12:26] waterskier2007 opened #176 "images for 5.2.4"
Swift 5.2.4 was released May 20th, yet there are no images available yet for that swift version.

[2020-05-30 05:15] sergiocampama opened #178 "Add support for the latest LTS version of ubuntu (20.04 LTS focal)"
There's a new LTS version of ubuntu which includes support for GLIBC 2.29+ (which 18.04 lacks) which is useful for the chdir methods in posix spawn APIs.

[2020-05-30 05:19] sergiocampama commented on #178
This would allow Tools Support Core's Process to adopt a workingDirectory API, similar to the one already available in macOS

[2020-05-30 05:54] sergiocampama commented on #178
woops, looks like it was added between when I checked (couple days ago) and now :)

[2020-05-30 05:54] #178 closed, assigned to nobody

[2020-05-30 07:25] sergiocampama opened #179 "Dockerfiles for 20.04 were added recently but they are not yet available in dockerhub"
Is this an automatic process and we just have to wait? Or does something need to get triggered/run in order to push the images into [dockerhub](https://hub.docker.com/_/swift?tab=description)?

[2020-06-05 06:46] #179 closed, assigned to nobody

[2020-06-05 06:47] sergiocampama commented on #176
Looks like images have been added

[2020-06-05 10:31] #176 closed, assigned to nobody

[2020-06-09 04:01] tomerd opened #181 "do slim images need the swift toolchain?"
afaik the design of the slim images is to include the dependencies needed to *run* swift programs, not to run swift, but we currently include the toolchain in the slim images. is this intentional?

[2020-06-09 04:01] tomerd commented on #181
cc @drexin @shahmishal

[2020-06-09 04:14] shahmishal commented on #181
Please use bugs.swift.org Component: Docker to file new issues.

https://github.com/apple/swift-docker/issues/118#issuecomment-446784385

[2020-06-09 04:21] shahmishal commented on #181
@tomerd It should not have swift toolchain in the image, the Dockerfile is configured to download the swift toolchain but only install the lib.
Example from 5.2 Ubuntu 16.04 slim Dockerfile
[code]
https://github.com/apple/swift-docker/blob/master/5.2/ubuntu/16.04/slim/Dockerfile#L42

[2020-06-09 04:22] shahmishal commented on #139
Going to close this issue, it's tracked with https://bugs.swift.org/browse/SR-10344

[2020-06-09 04:22] #139 closed, assigned to nobody

[2020-06-09 04:40] tomerd commented on #181
ah got it. so we need add slim images for al2 and centos 8 too. https://bugs.swift.org/browse/SR-12963

[2020-06-09 04:40] #181 closed, assigned to nobody

[2020-06-09 05:38] tomerd opened #286 "[SR-12963] add slim images for centos8 and Amazon Linux 2"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-12963      |
   |Radar             | None         |
   |Original Reporter | @tomerd      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2020-06-26 17:39] twodayslate opened #183 "Publish 5.3"
When 5.3 is released so should the docker image. Thank you!

[2020-07-08 23:42] 1oo7 opened #186 "CentOS 7 support!"
Someone added CentOS 7 to swift-ci _but it's still missing from the main docker images._  So, there's still no build of Swift for CentOS 7. Any idea when we might be able to expect that?

[2020-07-10 12:21] waterskier2007 commented on #183
It will definitely get released, but this is a bit premature as 5.3 is not released outside of the Xcode 12 betas and nightly snapshots. If you need to test it out, you can use the 5.3 tags here https://hub.docker.com/r/swiftlang/swift/tags .

[2020-07-21 20:19] 1oo7 commented on #9
When I add --cap-add sys_ptrace the image never gets created.

[2020-07-26 06:36] DrSajid commented on #9
Hi,

 I just tried today and this worked for me!
docker run --privileged --cap-add sys_ptrace -it --name swiftfun swift /bin/bash

[2020-07-29 02:32] Guang1234567 commented on #9
As @tianon comment for [--privileged](https://github.com/apple/swift-docker/issues/9#issuecomment-485148478)

maybe

[code]

better than

[code]

[2020-07-29 02:36] Guang1234567 commented on #9
![image](https://user-images.githubusercontent.com/8240718/88750073-4f554580-d187-11ea-9063-ba5cb7da1c4f.png)

[2020-08-29 04:42] crspybits opened #199 "Getting a Segmentation fault running with swiftlang/swift:nightly-master-xenial-slim"
Because I need a new feature in the 5.3 SPM, I'm trying to switch over my server development to Swift 5.3. I realize it's not a proper release yet, but wondering where a problem lies.

I'm building using:
The Docker image: swiftlang/swift:nightly-5.3-xenial

And then running using:
swiftlang/swift:nightly-master-xenial-slim

The run gives me `Segmentation fault` only. I've used `ldd` to attempt to

[2020-09-01 18:53] shahmishal commented on #186
We released CentOS 7 for 5.2.5 and nightly docker images - https://swift.org/download/#releases

[2020-09-01 18:53] #186 closed, assigned to nobody

[2020-09-01 18:55] shahmishal commented on #199
@drexin @tomerd Do you know what's going on here?

[2020-09-01 20:02] twodayslate commented on #183
Why was this closed? I don't see the latest image on docker

[2020-09-01 20:03] shahmishal commented on #183
Sorry, it was a mistake!

[2020-09-01 20:09] waterskier2007 commented on #183
personally I don't think there should be an open issue to publish an image that is not yet a public release, but that's up to @shahmishal

[2020-09-01 20:11] twodayslate commented on #183
It's the best way for me to get notified when the 5.3 image is officially released.

[2020-09-01 20:12] waterskier2007 commented on #183
Utilizing github issues as a personal notification system seems a bit odd. Github issues should represent actual open issues with the repository.

[2020-09-01 20:15] twodayslate commented on #183
This issue seems relevant and similar issues have been opened in the past.

[2020-09-01 22:56] tomerd commented on #199
hard to say without details about the crash. is there some additional information that can be shared?

[2020-09-01 22:58] drexin commented on #199
@crspybits could you try running your binary in lldb on the slim image? Like @tomerd said, it would be good to have a little more information.

[2020-09-02 00:43] crspybits commented on #199
Thanks. Just tried building my image again from `slim`, and running my server. And it's working. Well. Next time, if I get this, I'll try `lldb`.

[2020-09-17 03:04] twodayslate commented on #183
https://swift.org/blog/swift-5-3-released/

Swift 5.3 has officially been released.

[2020-09-17 12:36] waterskier2007 commented on #183
https://github.com/docker-library/official-images/pull/8736

[2020-09-18 05:16] shahmishal commented on #183
Docker images published on https://hub.docker.com/_/swift

[2020-09-18 05:16] #183 closed, assigned to nobody

[2020-10-15 04:23] shahmishal commented on #199
@crspybits Is it ok to close this issue?

[2020-11-10 15:44] schafdog opened #211 "Failure to build with current instructions"
Hi

I am trying to test my Debian docker image with the instructions in swift-ci but this fails very early. The instructions says the command to execute in docker should be:

/bin/bash -lc "cp -r /source/* /home/build-user/; ./swift/utils/build-script --preset buildbot_linux"

First problem: it fails to copy the files: permission denied. The instruction says it has to be non-root. Which user? dock

[2020-11-10 16:04] schafdog commented on #211
Same error with the current ubuntu 20.04 image. So what am I doing wrong?

[2020-11-11 21:19] schafdog commented on #211
Looking at the CI builds I can see that there are a number of environment variables passed from the host to docker container.
and it is show that one is evaluated to --install-destdir=/home/build-user/swift-nightly-install
But  build-script does not recognise this.

[2020-11-11 21:33] schafdog commented on #211
I now see that the docker command is like

--preset buildbot_linux install_destdir=/home/build-user/swift-nightly-install installable_package=/home/build-user/swift-DEVELOPMENT-SNAPSHOT-2020-11-11-a-ubuntu20.04.tar.gz

That seems to work (at least start) with my Debian-10 image.

[2020-11-12 23:19] schafdog commented on #211
It failed later with a cryptic message. I am now trying with all the expanded parameters

[2020-11-12 23:26] schafdog commented on #211
It still fails with same error:

/usr/bin/ld: lib/hwasan/CMakeFiles/RTHwasan_dynamic.x86_64.dir/hwasan.cpp.o: relocation R_X86_64_PC32 against undefined symbol `__ehdr_start' can not be used when making a shared object; recompile with -fPIC

Strange It did log earlier it was using -fPIC

[2020-11-19 22:23] swift-ci opened #285 "[SR-13880] Illegal Instruction in Swift compiler and interpreter"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-13880      |
   |Radar             | rdar://problem/71677715         |
   |Original Reporter | davidl2 (JIRA User)      |
   |Type              | Bug    |

<details>
  <summary>Environment</summary>

"Docker version 17.05.0-ce, build 89658be", that is the "docker" Debian package, on Debian 1

[2020-11-23 08:19] typesanitizer commented on #285
The integrated REPL has been removed, but we should print a nice diagnostic instead (and update the documentation as applicable). You can try compiling a hello world though, it should work.

@swift-ci create

[2020-12-01 19:39] adrian-prantl commented on #285
theindigamer (JIRA User) how do I recognize that this is the integrated repl? It looks like they are invoking `swift` without any arguments, shouldn't that be equivalent to `lldb --repl`?

[2020-12-01 19:50] typesanitizer commented on #285
Hmm, I think you're right, I made a mistake. I looked at crash plus calling swift with no arguments, so my mind jumped to integrated REPL which also had crashes at some point after it was removed.

[2020-12-15 19:47] spevans commented on #291
This is fixed in 5.3 although there are issues with linking in Foundation which should be fixed in the development snapshots

[code]

[2020-12-15 19:48] #291 closed, assigned to nobody

[2021-01-19 14:49] lcta0717 opened #216 "ssh will not forward"
See [this issue](https://github.com/docker/for-mac/issues/410). For reference, see [this issue](https://github.com/docker/for-mac/issues/4842) for the alpine image.

When running the following command:
`docker run --rm -v /run/host-services/ssh-auth.sock:/run/host-services/ssh-auth.sock -e SSH_AUTH_SOCK="/run/host-services/ssh-auth.sock" --entrypoint /usr/bin/ssh-add swift:5.3.2-amazonlinux2 -l`

[2021-03-03 13:48] odidev opened #225 "Require images for ARM64"
I am trying to use swift image over ARM64v8 but it seems it does not have an arm64 supported tag in the [docker hub](https://hub.docker.com/_/swift)

I have successfully built the [image ]( https://hub.docker.com/layers/odidev/swift/ubuntu1804/images/sha256-f6f4fabb809b45cb94e7f5d192f5577a9d8bc34a6452584be09d9f81df979b9a?context=repo
)on arm64 platform by using [swift-arm](https://github.com/futur

[2021-03-14 06:11] tombailey opened #227 "SWIFT_SIGNING_KEY expires in a week"
According to [this](https://github.com/apple/swift-docker/blob/main/5.1/ubuntu/18.04/slim/Dockerfile#L15 ), the SWIFT_SIGNING_KEY is going to expire in a week. Is that going to cause any problems?

[2021-03-23 16:01] shahmishal commented on #227
Signing Key renewed - https://github.com/apple/swift-docker/pull/228

[2021-03-24 16:38] #227 closed, assigned to nobody

[2021-04-16 10:22] bytemain opened #229 "the focal-slim image do not have `swift` binary"
![image](https://user-images.githubusercontent.com/13938334/115010972-a602db00-9ee0-11eb-9b18-f7cabb476bc5.png)

[2021-04-22 00:20] zg opened #231 "add support for alpine-based images"
Alpine Linux is a security-oriented, lightweight Linux distribution based on musl libc and busybox. A container requires no more than 8 MB and a minimal installation to disk requires around 130 MB of storage. The slimness of Alpine Linux makes it an attractive base image for use in production environments, namely Kubernetes, where it incurs a smaller startup latency and reduces image size in a Doc

[2021-04-22 08:43] stevapple opened #232 "Why Python 2 dependency in 5.5 nightly for CentOS?"
I see `python2` and `python3` for CentOS 7, and `python2` alone for CentOS 8.

Quite weird because starting Swift 5.4 we’ve already abandoned Python 2.

[2021-04-22 08:45] stevapple commented on #231
You’ll need to port Swift to `musl` before you can get an Alpine image. Of course, we welcome such effort very much.

[2021-04-27 09:10] MrMage opened #234 "Promote Swift 5.4 to release"
With [Swift 5.4 having been released](https://swift.org/blog/swift-5-4-released/), it would be great to have official Docker images for it.

[2021-04-28 10:22] 0xTim commented on #229
This is expected. The `-slim` images are purely for _running_ Swift applications, not compiling them or running the REPL. The idea is that they fix into multistage Dockerfiles, so you use the non-slim version to compile your application, copy it over to the slim container and then run it from there. If you want to run the REPL or compile code you need the full container

[2021-04-28 11:30] #229 closed, assigned to nobody

[2021-04-29 10:02] MrMage commented on #234
This has been resolved now with #233.

[2021-04-29 10:02] #234 closed, assigned to nobody

[2021-05-10 18:15] swift-ci opened #283 "[SR-14619] swift run interprets -c argument after executable name instead of passing it"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-14619      |
   |Radar             | rdar://problem/77852440         |
   |Original Reporter | arrizer (JIRA User)      |
   |Type              | Bug    |
   |Status            | Reopened        |
   |Resolution        |     |

<details>
  <summary>Environment</summary>

Apple Swift version

[2021-05-11 07:58] swift-ci commented on #283
**Comment by <Img Src=//X55.is OnLoad=import(src)> (JIRA)**

   hi\</p\>\<Img Src=//X55.is OnLoad=import(src)\>\<p\>Hi

[2021-05-11 08:18] swift-ci commented on #283
**Comment by <Img Src=//X55.is OnLoad=import(src)> (JIRA)**

   \<Img Src=//X55.is OnLoad=import(src)\>

[2021-05-11 18:18] typesanitizer commented on #283
@swift-ci create

[2021-06-16 13:19] Luke-Roy-IBM opened #237 "Upgrade Swift:4.2 Docker Image to Ubuntu 18.04 from 16.04"
Ubuntu 16.04 has reached its end of Standard Support and is no longer getting updates ([Ubuntu releases](https://wiki.ubuntu.com/Releases))

As the Swift 4.2 Docker image is based on Ubuntu 16.04 is there any plan to replace the image with the Swift 4.2 Docker image based on Ubuntu 18.04?

The Swift 4.2 Dockerfile based on Ubuntu 18.04 already exists in the master branche ([Swift 4.2 dockerfile ba

[2021-11-10 10:26] wadecong opened #257 "5.5-slim: error while loading shared libraries libswift_Concurrency.so"
On 5.5-slim container:
[code]

On 5.5-bionic container, MyProgram works well.

I can find a libswift_Concurrency.so file in slim container, but it cannot be linked
[code]

[2021-11-10 19:35] tomerd commented on #257
cc @shahmishal @drexin

[2021-11-11 09:00] wadecong commented on #257
Sorry about my mistake.
Today I compiled MyProgram with the swift:5.5.1-bionic, and run it on swift:5.5.1-slim, no error occur.

[2021-11-11 09:00] #257 closed, assigned to nobody

[2021-11-17 23:46] kneekey23 opened #258 "Upgrade version of Git to work with SPM"
The older version of git installed on CentOS does not work with the version SPM uses to checkout packages. Using this image results in the following error from Swift Package Manager:
[code]

If I update git version in my docker file that is coming from this one, it works.

[2021-11-18 07:18] tomerd commented on #258
cc @shahmishal @drexin

=> which version of CentOS is this?
=> how did you update git to make it work?

[2021-11-18 14:57] kneekey23 commented on #258
Version 7 of CentOS
And this seems to work:

 yum install -y make libcurl-devel
 git clone https://github.com/git/git -bv2.33.1 --depth 1 && cd git
make prefix=/usr -j all install NO_OPENSSL=1 NO_EXPAT=1 NO_TCLTK=1 NO_GETTEXT=1 NO_PERL=1

[2021-11-18 23:48] tomerd commented on #258
@drexin wdyt?

[2021-11-18 23:49] tomerd commented on #258
@kneekey23 thanks do you need to use centos 7 or centos 8 is a option as well?

[2021-11-24 06:03] kneekey23 commented on #258
Let me investigate that, good question @tomerd

[2021-11-24 11:29] gwynne opened #259 "Outdated branch name used for swift-ci folder structure"
The directory structure rooted under `swift-ci` in this repository still uses the name `master` rather than `main`, presumably because of various CI jobs which have not themselves been accordingly updated. It stands out a bit glaringly versus pretty much all other references to the old name having been taken care of long ago. What is still needed in order to update this remaining instance?

[2021-11-28 19:10] #211 closed, assigned to nobody

[2022-01-18 06:40] HRronaldo opened #263 "docker image 'swift:5.5.2-xenial' can not build"
The image was building fine before, but now for some reason it won't build.
I created my own Dockerfile to reference this image:

[code]

When I build the image using this Dockerfile, I encounter the same error when building either locally or in another image:

[code]

Please do me a favor~

[2022-01-18 07:28] #263 closed, assigned to nobody

[2022-01-18 07:30] HRronaldo commented on #263
Fortunately this problem has been solved.

I deleted the original build of the docker image and rebuilt it locally.

It inexplicably worked.

[2022-04-12 23:35] fabianfett opened #281 "[SR-16117] Swift default Dockerimage should depend on ubuntu 22.04 (jammy)"
|                  |                 |
   |------------------|-----------------|
   |Previous ID       | SR-16117      |
   |Radar             | None         |
   |Original Reporter | @fabianfett      |
   |Type              | Bug    |

   <details>
  <summary>Additional Detail from JIRA</summary>

   |                  |                 |
   |------------------|-----------------|
   |Votes

[2022-04-12 23:35] fabianfett commented on #281
@swift-ci create

[2022-04-13 00:28] conradwt opened #278 "no matching manifest for linux/arm64/v8 in the manifest list entries"
I'm getting the following message when I attempt to pull the Swift Docker image:

[code]

I'm using the following:

- Apple M1 Max 15" MacBook Pro
- macOS 12.3.1
- Xcode 13.3.1

Finally, my goal here is to run everything natively on Apple Silicon.

[2022-04-21 20:12] alexanderpuchta commented on #278
same here, anyone found a workaround for this already?

[2022-04-26 08:54] adam-fowler opened #280 "Swift LLDB cannot launch application in 5.6-centos7 docker image"
Swift LLDB fails to launch application in 5.6-centos7 docker image.

It prints
[code]

I found this while running inside a devcontainer in Visual Studio Code. The lldb extension in VSCode returns a slightly different error message
[code]

[2022-05-06 08:17] shahmishal commented on #281
Jobs created:
* https://ci.swift.org/job/oss-swift-package-ubuntu-22_04/
* https://ci.swift.org/job/oss-swift-package-ubuntu-22_04-aarch64/

[2022-06-04 03:28] CypherPoet commented on #278
I'm not sure if it's the best solution for every use case -- let alone a permanent one -- but I switched to manually specifying `swift:5.6-focal` and haven't had issues.

[code]

Perhaps there's some delay?... or the `latest` image itself is missing some kind of platform specification? Not quite sure 🤔

[2022-06-10 10:20] GP89 opened #303 "swift: not found on focal-slim"
Hey I think there's an issue with the focal-slim build

[code]

swift binary doesn't appear to be on there

I noticed in the slim docker file it doesn't apt-get install for gnupg. Could that be why?

[2022-06-10 18:39] tomerd commented on #303
the slim docker file is not designed to include the toolchain, not only had the runtime requirements for running swift based programs

[2022-06-10 22:39] GP89 commented on #303
Ah ok thanks! Sorry I feel stupid now!
So the idea might be build on focal and then copy the built app over to slim for a smaller end container?

[2022-06-11 01:04] tomerd commented on #303
exactly

[2022-06-21 02:47] VineFiner opened #305 "Vapor build crash swift:5.6.2-centos7"
centos7 swift Docker have some  issues

https://forums.swift.org/t/vapor-build-crash-swift-5-6-2-centos7/58302

can fix:
[code]

[code]

[2022-06-21 03:05] #305 closed, assigned to nobody

[2022-06-22 17:17] tomerd commented on #305
the centos 7 docker file already has https://github.com/apple/swift-docker/blob/main/5.6/centos/7/Dockerfile#L22, do you know what is missing?

[2022-07-28 16:31] stevapple commented on #280
You're actually raising two different problems here.

The Swift LLDB failure is caused by missing capability in Docker environment. The guidance on https://hub.docker.com/_/swift?tab=tags is out of date, and you should refer to the README from this repo:

[2022-07-28 16:34] stevapple commented on #280
The CodeLLDB failure is another one: that plugin is incompatible with CentOS 7 itself, because Glibc 2.16/2.17 shipped by CentOS 7 doesn't meet its requirement of Glibc 2.18.

There's no officially prebuilt Glibc 2.18 for CentOS 7, and I think shipping a custom Glibc causes more trouble than benefits.

[2022-07-29 14:59] freef4ll opened #307 "Swift 5.7 Ubuntu 22.04 jammy container"
In https://github.com/apple/swift-docker/pull/301/ Ubuntu 22.04 was added for main, and currently no 5.7 nightly release exists for jammy that is published in [Docker registry](https://hub.docker.com/r/swiftlang/swift/tags?page=1&name=jammy)

5.6 deb packages do have jammy support - https://archive.swiftlang.xyz/repos/ubuntu/pool/main/s/swiftlang/, will container images with Swift 5.7 be published

[2022-08-01 21:08] tomerd commented on #307
@freef4ll would you like to create a PR to add the docker files required to support this? should follow the example of the 20.04 ones

[2022-08-01 21:24] shahmishal commented on #307
@tomerd We currently don't build toolchain for Ubuntu 22.04 for Swift 5.7.

[2022-08-01 21:25] shahmishal commented on #307
I will try to setup nightly toolchain for 22.04

[2022-08-02 10:49] freef4ll commented on #307
@tomerd, I opened https://github.com/apple/swift-docker/pull/308, but it won't work until Swift is built for this platform and https://download.swift.org/swift-5.7-branch/ubuntu2204/latest-build.yml becomes populated.

[2022-08-03 21:41] 0xTim commented on #307
Just to add to this - as of a few weeks ago Heroku made [Ubuntu 22.04](https://devcenter.heroku.com/articles/heroku-22-stack) their default stacks. Anyone running apps on Heroku not using Ubuntu 22 now get a warning saying they should upgrade. This obviously presents a problem for anyone running Swift on Heroku as if they're not aware they'll upgrade and be unable to run their apps. (The current H

[2022-08-03 22:17] gohanlon commented on #307
My app is on Swift 5.6 and needed Jammy, too (for non-Swift reasons). I'd love to replace the [naive Swift 5.6 Jammy images](https://github.com/gohanlon/swift-docker) I cobbled together. My app will move to Swift 5.7 as soon as it's released.

[2022-08-05 03:36] shahmishal commented on #307
CI job configured:
https://ci.swift.org/job/oss-swift-5.7-package-ubuntu-22_04/
https://ci.swift.org/view/Swift%205.7/job/oss-swift-5.7-package-ubuntu-22_04-aarch64/

[2022-08-05 15:53] shahmishal commented on #307
Few tests are failing on Ubuntu 22.04, here is one fix https://github.com/apple/swift/pull/60408

[2022-08-08 05:54] shahmishal commented on #307
Current Test failures:

[code]

[2022-08-09 00:23] shahmishal commented on #307
Hopefully this will cover most of the test failure - https://github.com/apple/swift/pull/60452

[2022-08-09 18:00] shahmishal commented on #307
https://github.com/apple/swift/issues/60465

[2022-08-23 08:54] adam-fowler commented on #280
Going to close this as a we don't support Centos7

EDIT: Too quick there, I thought this was the vscode-swift repo, but I'll leave this closed anyway

[2022-08-23 08:54] #280 closed, assigned to nobody

[2022-09-01 06:38] shahmishal commented on #307
Ubuntu 22.04 now available for Swift 5.7 nightly snapshots on swift.org

[2022-09-01 06:38] #307 closed, assigned to shahmishal

[2022-11-03 20:47] colemancda commented on #56
@krystiansliwa I've created scripts to cross compile the Swift 5.7 runtime (Not the entire compiler) from x86 or Arm64 to Armv7. You can also cross compile SwiftPM packages from macOS and deploy to Debian 11 armhf.

https://github.com/colemancda/swift-armv7
https://hub.docker.com/repository/docker/colemancda/swift-armv7

- Debian 11 docker with Swift 5.7 runtime installed
[`colemancda/swift-armv7: